
/*Pour cacher les boutons de sauvegarde --- Ne fonction pas dans un fichier css*/
.saveButton {
    visibility: hidden;
}

#divListeLivres {
}

#pagination {
    width: 100%;
    align-self: center;
}

@media (max-width: 880px) {

    .page-item {
        margin: 0 !important;
        padding: 0;
    }

    .page-link {
        padding: 12px !important;
    }
    #list-tab {
        width: 100%;
    }

    #divListeLivres {
        width: 100%;
        height: 30%;
        position: fixed;
        bottom: 0px;
        overflow:auto;
        z-index: 10;
    }
}
