
#rechercheRapide > *, #filtreBTN {
    width: fit-content;
}
#filtre {
    overflow-y: auto;
}
#filtre *{margin:0;
}
#fermeFiltre{
    position:absolute;
    top:35px;
    right:10px;
}
@media only screen and (max-width: 880px) {
    .cacher-2 {
        position: absolute;
        visibility: hidden;
    }
}
@media only screen and (max-width: 590px) {
    .cacher-5 {
        position: absolute;
        visibility: hidden;
    }
}
@media only screen and (max-width: 500px) {
    .cacher-1 {
        position: absolute !important;
        visibility: hidden !important;
    }
}