
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}

.navbar-nav.align-items-center > .nav-item {
    display: flex;
    align-items: center;

}

.navbar-nav > .nav-item > .nav-link {
    display: flex;
    align-items: center;


}

.navbar-nav > .nav-item > .nav-link i {
    margin-right: 5px;
}

#LoginBTN {
    width: 100%;
}


/* Styles pour la Nav  (Barre de Recherche) */

.recherche-group {
    display: flex;
    align-items: center;
    background-color: #e2ebf7;
    border-radius: 25px;
    padding: 5px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 420px!important;
    margin-top: -10px;

}

.category-dropdown {
    position: relative;
    margin-right: 10px;
}

.selected-category {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border: 1px solid #4e7fd0;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: #4e7fd0;
    color: #fff;
}

.recherche-select {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    width: 150px;
    appearance: none;
    opacity: 0;
    z-index: 1;
}

.recherche-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    height: 40px;
}

.recherche-btn {
    background-color: transparent;
    border: none;
    color: #555;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
}

/* Styles pour la Nav Bottom (Liens de Navigation) */
#navBottom {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    color: #555;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .dropdown-menu {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
    background-color: #e2ebf7!important;
    scale: 1.01;
    transition-duration: 0.2s;
}

.dropdown-item {
    font-size: 15px!important;
}


/* Responsive Design */
@media (max-width: 768px) {
    .recherche-container {
        max-width: 100%;
        padding: 10px;
    }

    .recherche-input,
    .recherche-btn,
    .category-dropdown {
        width: 100%;
        margin-top: 5px;
    }


    #navBottom .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Style du badge pour le panier */
.badge-panier {
    position: relative;
    top: -10px!important;
    right: 0;
    background-color: #f74959; /* Couleur de fond du badge */
    color: #ffffff; /* Couleur du texte */
    font-size: 0.75rem !important;
    padding: 0.4rem 0.3rem !important;
    border-radius: 100% !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Ombre portée pour plus de profondeur */
    z-index: 10;
}





/* Style au survol ou lors du clic */
.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: rgba(107, 179, 255, 0.35) !important;
}
