<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="PartialViews/_HeadPartial"/>
</head>
<body>
<header >
    @*
        La navbar est divisée en deux navbar, une pour la partie du haut, une autre pour le bas.
    *@
    <!--Navbar du haut-->
    <partial name="PartialViews/Navbar/_NavbarTopPartial"/>
    <!--Navbar du bas-->
    <partial name="PartialViews/Navbar/_NavbarBottomPartial"/>

</header>
<!--
Afficher le corps de la page
-->
<div class="col-md-12 mb-12">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer-section">

    <partial name="PartialViews/Footer/_HeadFooterPartial"/>

</footer>

<style>
    #navBottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>

<!--
Une tonne de scripts divers
-->
<!-- MDB -->
<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<partial name="PartialViews/_JsPartial"/>
@await RenderSectionAsync("Scripts", false)
</body>
</html>