<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="PartialViews/_HeadPartial"/>
</head>
<body>
<header >
    @*
        La navbar est divisée en deux navbar, une pour la partie du haut, une autre pour le bas.
    *@
    <!--Navbar du haut-->
    <partial name="PartialViews/Navbar/_NavbarTopPartial"/>

    <!--Navbar du bas-->
    <partial name="PartialViews/Navbar/_NavbarBottomPartial"/>
    <noscript>Ce site utilise du JavaScript. N'oubliez pas de le réactiver si quelque chose ne marche pas.</noscript>
</header>
<!--
Afficher le corps de la page
-->
<div class="col-md-12 mb-12">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer-section">

    <partial name="PartialViews/Footer/_HeadFooterPartial"/>

</footer>

<style>
    #navBottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>

<!--
Une tonne de scripts divers
-->

<script type="text/javascript">
    //Script pour la recherche
    var search = document.getElementById("barreRechercheNavbar");
    var loupe = document.getElementById("loupeRechercheNavbar");
    var dropdown = document.getElementById("dropdownRechercheNavbar");

    loupe.addEventListener("click", Rechercher);

    var selectedCategory = document.querySelector(".selected-category");

    // Écoutez les changements de sélection dans le dropdown
    dropdown.addEventListener("change", function () {
        var selectedOption = dropdown.options[dropdown.selectedIndex];
        selectedCategory.textContent = selectedOption.text;
    });

    async function Rechercher(ev) {
        ev.preventDefault();

        var searchTerm = search.value; // Récupérer la valeur de la barre de recherche
        var critere = dropdown.value; //Récupérer la valeur de la liste déroulante

        // Utiliser la valeur dans l'URL pour l'action Index
        if (critere == null) {
            window.location.href = `/Recherche/Index?motCles=${searchTerm}`;
        }else{
            var maListe = [critere];
            var listeSerialisee = maListe.join("|");

            window.location.href = `/Recherche/Index?motCles=${searchTerm}&criteres=${listeSerialisee}`;
        }
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/owl.carousel.min.js"></script>

<!-- MDB -->
<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/GetNbarticles.js" asp-append-version="true"></script>


<partial name="PartialViews/_JsPartial"/>
@await RenderSectionAsync("Scripts", false)
</body>
</html>