<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="PartialViews/_HeadPartial"/>
</head>
<body>
<header >
    @*
        La navbar est divisée en deux navbar, une pour la partie du haut, une autre pour le bas.
    *@
    <!--Navbar du haut-->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-0 px-4" id="navTop">
        <div class="container-fluid">
            <!-- Logo fourmi ailée. Ce logo permet de retourner à l'accueil -->
            <a class="navbar-brand" asp-area="" asp-controller="Accueil" asp-action="Index">
                <img src="~/img/Logo/Logo_sans_fond.png" alt="logo" class="brand-logo"/>
            </a>

            <!-- Barre de recherche -->
            <div id="divRecherche" class="navbar-nav flex-grow-1 recherche-container">
                <div class="input-group mb-3 recherche-group">
                    <div class="category-dropdown dropdown">
                        <span class="selected-category">Trier par :</span>
                        <select class="form-select recherche-select" id="myDropdown">
                            <option value="option1 active">Titre</option>
                            <option value="option2">Auteur</option>
                            <option value="option3">Catégorie</option>
                        </select>
                    </div>
                    <input type="text" class="form-control recherche-input" placeholder="Rechercher...">
                    <button type="button" class="btn btn-secondary recherche-btn">
                        <i class="fa-solid fa-magnifying-glass fa-sm"></i>
                    </button>
                </div>
            </div>

            <!-- Vue partielle contenant tout ce qui est en lien avec les comptes (connexion, inscription, etc...) -->
            <partial name="_LoginPartial"/>
        </div>
    </nav>

    <!--Navbar du bas-->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom mb-0 px-4" id="navBottom">
        <div class="container-fluid">
            <!-- Premier groupe de liens. Les liens peuvent changer, c'est juste pour le design -->
            <div class="navbar-collapse collapse d-sm-inline-flex">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Catégories</a>
                    </li>

                </ul>
            </div>

            <!-- Deuxième groupe de liens. Les liens peuvent changer, c'est juste pour le design -->
            <div class="navbar-collapse collapse d-sm-inline-flex">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 4</a>
                    </li>
                </ul>
            </div>

            <!-- Icônes de profil et de panier -->
            <div class="navbar-icons">
                <ul class="navbar-nav flex-grow-1">
                    <!--
                    Gérer son profil
                    -->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">
                            <i class="fa-solid fa-circle-user"></i>
                        </a>
                    </li>
                    <!--
                    Gérer panier
                    -->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">
                            Consulter le panier
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
<!--
Afficher le corps de la page
-->
<div class="col-md-12 mb-12">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer-section">

    <partial name="PartialViews/Footer/_HeadFooterPartial"/>

</footer>

<style>
    #navBottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>

<!--
Une tonne de scripts divers
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/owl.carousel.min.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- MDB -->
<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

    <partial name="PartialViews/_JsPartial"/>
@await RenderSectionAsync("Scripts", false)
</body>
</html>