@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*
    Cette vue partielle sert à afficher les liens pour se connecter.

    Il y a un if qui détermine si l'utilisateur est connecté

    Si connecté:
        Un message de bienvenue disant "Hello [NOM UTILISATEUR]"
        Un lien pour se déconnecter

    Si non connecté:
        Un lien pour se connecter
        Un lien pour s'inscrire
*@

<div id="boutonseconection">
    @if (SignInManager.IsSignedIn(User))
    {
        <button class=" btnconnection1 nav-link flex-nowrap"><a class=" text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">👋 Salut @UserManager.GetUserAsync(User).Result.UserName.Split("@")[0]!</a></button>
        <form class=" form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class=" btnconnection2 nav-link  btn btn-link flex-nowrap rounded-pill  bg-secondary  flex-nowrap"><i class="fa-solid fa-arrow-right-from-bracket text-white"></i><a class="text-white">Se déconnecter</a></button>
        </form>
    }
    else
    {
        <button class="btnconnection1 nav-link btn btn-outline-secondary flex-nowrap rounded-pill"><a asp-area="" asp-controller="Compte" asp-action="Login">Se connecter</a></button>
        <button class="btnconnection2 nav-link btn bg-primary flex-nowrap rounded-pill"><a id="btnRegister" class="text-white" asp-area="" asp-Controller="Compte" asp-action="Register">S'inscrire</a></button>
    }
</div>