#divListeLivres {
  position: sticky;
  width: 40vw;
  height: auto;
  max-height: 60vh;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  top: 20%;
  background-color: #ffffff;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
}

#ulListeNomLivres {
  width: 38vw !important;
  height: auto;
  column-count: 2;
}
