#divListeLivres {
    position: sticky;
    width: 40vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 25%;
    background-color: #ffffff;
    display: block;
}

#ulListeNomLivres {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40vh;
    
    overflow: scroll;
}

.listcolumns {
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
}
