#divListeLivres {
    position: sticky;
    width: 40vw;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    top: 25%;
    background-color: #ffffff;
    display: block;
}

#ulListeNomLivres {
   width: 38vw !important;
    height: 350px;
    overflow: scroll;
    column-count: 2;
}


