:root {
    --primaire:#f8f4f1;
    /*--secondaire:;
    --tertiaire:;
    --quaternaire:;
    --quinquénaire:;*/
}
html{

}
body {
}
header{

}
nav{

}

footer{

}
.btn-primary {

}
.btn-secondary {

}