<div id="ModalId">
    <div class="modal-header">
        <h5 class="modal-title">Confirmation de suppression</h5>
    </div>
    <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer la promotion @Model.Nom ?
    </div>
    <div class="modal-footer">
        <a class="btn btn-secondary" href="~/GestionPromotions/Index">Annuler</a>
        <button type="button" class="btn btn-danger" id="confirmDelete" onclick="SupprimerPromotion('@Model.Id')">Supprimer</button>
    </div>
</div>