@using System.Globalization;
@model double
@{
    //Ajouter de la valeur plus qu'il va avoir d'espace entre les étoiles
    double ratingAvantModif = Model;

    var rating = ratingAvantModif.ToString("0.0", CultureInfo.InvariantCulture);
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<div class="star-et-nombre-container">
    <div class="star-container">
        <div class="Stars" style="--rating: @rating;"></div>
        <div class="Stars-o"></div>
    </div>
    <p class="rating-number">(@Math.Round(Model, 1))</p>
</div>
<style >
    :root {
        --star-size: 16px;
        --star-size-o: 22px;
        --star-color: #fff;
        --star-background: #fc0;
        --star-background-o: #000;
    }

    .rating-number {
        margin-bottom: 1200px;
    }

    .star-et-nombre-container {
        display: flex;
        align-items: flex-start;
    }

    .star-container {
        width: 108px;
        position: relative;
    }

    .Stars, .Stars-o{
        display: inline-block;
        font-family: mono;
        width: 100%;
        position: absolute;
    }
    
    .Stars {
        --percent: calc((var(--rating) / 5) * 100%);
        z-index: 10;
        font-size: var(--star-size);
        top: 5.1px;
        left: 2.5px;
        font-family: 'Roboto', sans-serif;
        &::before {
            content: '★★★★★';
            letter-spacing: 6px;
            background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
            background-clip: text;
            -webkit-background-clip: text;
            text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
        }
    }

    .Stars-o{
        font-size: var(--star-size-o);
        top: 0;
        left: 0;
        font-family: 'Roboto', sans-serif;
        &::before{
            content: '★★★★★';
            letter-spacing: 1px;
            background: var(--star-background);
            background-clip: text;
            -webkit-background-clip: text;
            text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
        }
    }
</style>