@using VLISSIDES.ViewModels.LivreUtilisateur;
@model ListLivreUtilisateurIndexVM
@{
    //LU est une abbréviation pour Livre Utilisateur

    string? livreSelectionne = null;

    ViewData["Title"] = "Mes livres";
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}
<link rel="stylesheet" href="~/css/LivreUtilisateur.css" asp-append-version="true">
<div  style="margin: 24px;">
    <h2 id="titreMesLivres">Mes livres: </h2>
    <div id="LU_Etoiles" class="container">
        <div class="row listLivresLU">
            @foreach (LivreUtilisateurIndexVM l in Model.listVM)
            {
                <partial name="PartialViews/LivreUtilisateur/_LivreUtilisateurPartial" model="@l" />
            }
        </div>
        <div class="row">
            <div id="divEtoiles" class="col-6 card rounded-xl">
                @if (Model.livreSelectionneId != null)
                {
                    <h3 class="text-center my-3">
                        Notez @Model.listVM.FirstOrDefault(x => x.Id == Model.livreSelectionneId).Titre !
                    </h3>
                    <form>
                        <fieldset class="" id="starsRadioGroup">
                            <div class="inputStar">
                                <input type="radio" class="radioStar" id="star5" name="starsRadioGroup" value="5">
                                <label for="star5" class="grosEtoile">
                                    <partial name="PartialViews/LivreUtilisateur/_EtoilesLivreUtilisateur" model="5.0" />
                                </label><br>
                                <label for="star5" class="petiteEtoile">
                                    <partial name="../Shared/PartialViews/Accueil/_Etoiles.cshtml" model="5.0" />
                                </label><br>
                            </div>
                            <div class="inputStar">
                                <input type="radio" class="radioStar" id="star4" name="starsRadioGroup" value="4">
                                <label for="star4" class="grosEtoile">
                                    <partial name="PartialViews/LivreUtilisateur/_EtoilesLivreUtilisateur" model="4.0" />
                                </label><br>
                                <label for="star4" class="petiteEtoile">
                                    <partial name="../Shared/PartialViews/Accueil/_Etoiles.cshtml" model="4.0" />
                                </label><br>
                            </div>
                            <div class="inputStar">
                                <input type="radio" class="radioStar" id="star3" name="starsRadioGroup" value="3">
                                <label for="star3" class="grosEtoile">
                                    <partial name="PartialViews/LivreUtilisateur/_EtoilesLivreUtilisateur" model="3.0" />
                                </label><br>
                                <label for="star3" class="petiteEtoile">
                                    <partial name="../Shared/PartialViews/Accueil/_Etoiles.cshtml" model="3.0" />
                                </label><br>
                            </div>
                            <div class="inputStar">
                                <input type="radio" class="radioStar" id="star2" name="starsRadioGroup" value="2">
                                <label for="star2" class="grosEtoile">
                                    <partial name="PartialViews/LivreUtilisateur/_EtoilesLivreUtilisateur" model="2.0" />
                                </label><br>
                                <label for="star2" class="petiteEtoile">
                                    <partial name="../Shared/PartialViews/Accueil/_Etoiles.cshtml" model="2.0" />
                                </label><br>
                            </div>
                            <div class="inputStar">
                                <input type="radio" class="radioStar" id="star1" name="starsRadioGroup" value="1">
                                <label for="star1" class="grosEtoile">
                                    <partial name="PartialViews/LivreUtilisateur/_EtoilesLivreUtilisateur" model="1.0" />
                                </label><br>
                                <label for="star1" class="petiteEtoile">
                                    <partial name="../Shared/PartialViews/Accueil/_Etoiles.cshtml" model="1.0" />
                                </label><br>
                            </div>
                            <div class="inputStar">
                                <input type="radio" class="radioStar" id="star0" name="starsRadioGroup" value="0">
                                <label for="star0" class="grosEtoile">
                                    <partial name="PartialViews/LivreUtilisateur/_EtoilesLivreUtilisateur" model="0.0" />
                                </label><br>
                                <label for="star0" class="petiteEtoile">
                                    <partial name="../Shared/PartialViews/Accueil/_Etoiles.cshtml" model="0.0" />
                                </label><br>
                            </div>
                        </fieldset>

                        <button type="button" class="container-fluid btn btn-primary" onclick="NoterLivre('@Model.livreSelectionneId')">Soumettre</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
<script>
    //Script pour URL
    const BASE_URL = @Json.Serialize(BASE_URL_RAZOR);
</script>
<script type="text/javascript">
    async function MontrerBoiteEvaluation(id = "") {
        fetch(BASE_URL + `/LivreUtilisateur/Index?id=${id}`, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).catch(error => console.error('Échec du fetch pour noter le livre'))
        .then((response) => {
            return response.text();
        }).then((result) => { 
            document.querySelector("body").innerHTML = result;
        });
    }

    async function NoterLivre(id = "") {//Sert aussi pour modifier
        var boutonsRadio = document.getElementsByName("starsRadioGroup");
        var noteValeur;

        //Chercher quel bouton radio est coché
        for(var i = 0; i < boutonsRadio.length; ++i){
            if(boutonsRadio[i].checked == true){
                noteValeur = boutonsRadio[i].value;
                break;
            }
        }

        fetch(BASE_URL + '/LivreUtilisateur/Noter?id=' + id + '&note=' + noteValeur, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).catch(error => console.error('Échec du fetch pour noter le livre'))
            .then((response) => {

            });
        location.reload(true);
    }

    async function SupprimerEvaluation(id = "") {
        fetch(BASE_URL + '/LivreUtilisateur/Noter?id=' + id + '&note=null', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).catch(error => console.error('Échec du fetch pour noter le livre'))
            .then((response) => {

            });
        location.reload(true);
    }
</script>