@using System.Globalization;
@{
    float prixDonEco = 5;
    string prixtotal = (Model.PrixTotal + 5).ToString("n", new CultureInfo("fr-CA"));

}

<div id="articlesPrix" class="p-4">
    @foreach (var article in Model.ListeArticles)
    {
        <div class="d-flex justify-content-between">
            <div class="w-75">@article.Livre.Titre - @article.TypeLivre.Nom</div>
            <ul class="w-25" style="list-style:none">
                @if (article.Quantite is not null) @* When acrticle type is Papier *@
                {
                    @for (var quantite = 0; quantite < article.Quantite; quantite++)
                    {
                        <li class="float-end">@article.Prix.ToString("c", CultureInfo.GetCultureInfo("fr-CA"))</li>
                    }
                }
                else @* When acrticle type is numérique  *@
                {
                    <li class="float-end">@article.Prix.ToString("c", CultureInfo.GetCultureInfo("fr-CA"))</li>
                }

            </ul>
        </div>
    }

    <div class="d-flex justify-content-between mt-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cbDonEco" checked="checked" onclick="changerPrixDon()" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <label class="form-check-label" for="cbDonEco">
                Don pour écologie
            </label>
            <div class="collapse show mx-4" id="collapseExample">
                <div>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Vent Verdure et Plantation
                    </label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Écosystème et Pérennité
                    </label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                    <label class="form-check-label" for="flexRadioDefault3">
                        Un arbre à la fois
                    </label>
                </div>

            </div>
        </div>
        <div id="prixDonEco">
            +5,00$
        </div>
    </div>

</div>

@* Rajout de l'input pour le code promo *@

<div class="d-flex justify-content-between mt-4">
    <button id="ajouterCodePromo" type="button" class="btn btn-light" onclick=" AfficherFieldCodePromo()">Ajouter un code promotionnel</button>
    <form class="d-flex hideInputCodePromo" role="search" id="inputCodePromoDiv">
        <input id="inputCodePromo" class="form-control me-2" type="search" placeholder="Code promo ici:" aria-label="Search">
        <button id="submitCodePromo" class="btn btn-primary" type="submit">Ajouter</button>
    </form>
</div>


<hr/>
<div id="total" class="p-2 px-4">
    <div class="d-flex justify-content-between">
        <div class="">Total <span class="text-danger">(sans taxe)</span>: </div>
        <div class="d-flex">
            <div id="prixTotal" class="">
                @prixtotal
            </div>
            $
        </div>

    </div>
</div>

@section Scripts
{
   <script>
           var codePromo = document.getElementById("codePromo").value;
           if (codePromo.length >= 5) {
               document.getElementById("btnAppliquerCodePromo").style.display = "block";
           }
           else {
               document.getElementById("btnAppliquerCodePromo").style.display = "none";
           }

   </script>
}


