@model List<VLISSIDES.ViewModels.Categories.CategoriesIndexVM>
@{
    ViewData["Title"] = "Catégorie";
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}
<link rel="stylesheet" href="~/css/Gestion/Gestion.css" />
<div class="modal fade modal-dialog-centered" tabindex="-1" role="dialog" aria-hidden="true" id="ModalId"
     style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="d-block">

    <div class="">
        <h1>Gestion des catégories</h1>
    </div>

    <div class="container-fluid">
        <button class="btn btn-primary" onclick="ShowModal('@Url.Action("ShowAjouter", "GestionCategories")')">Ajouter une catégorie</button>
    </div>

    <br />

    <!--Début : Rechercher catégorie-->
    <div class="container-fluid">


        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rechercherCategorie">
            Rechercher une catégorie
        </button>

        <form class="collapse" id="rechercherCategorie" enctype="multipart/form-data">
            <br />
            <div class="input-group">
                <input class="form-control" id="inputRechercherCategorie" placeholder="Rechercher..." />
                <button class="btn btn-primary p-2" type="button" onclick="RechercherCategorie()" data-toggle="tooltip" title="Rechercher la catégorie">
                    Rechercher
                </button>
            </div>

        </form>

    </div>
    <br />
    <!--Fin : Rechercher catégorie-->

    <div class="">
        <h3>Liste des catégories</h3>
        <div class="row">

            <!--Début: Affichage des catégorie-->
            <div id="list-tab" class="list-group col-6" role="tablist">
                @foreach (var categorie in Model)
                {
                    <partial name="PartialViews/GestionCategories/_CardCategorie" model="categorie" />
                }
                <partial name="PartialViews/Utilities/_PaginationIndexPartial" />

            </div>
            <!--Fin: Affichage des catégorie-->
            <!--Début: Affichage des informations de la catégorie (droite)-->
            <div id="divListeLivres" class="col-6 card rounded-xl">
                <h3 class="text-center my-3">Informations de la catégorie</h3>

                <div class="" id="divListeMaisonEditionLivres">
                    @foreach (var Categorie in Model)
                    {
                        <partial name="PartialViews/GestionCategories/_CategorieDetail" model="Categorie" />
                    }

                </div>

            </div>
            <!--Fin: Affichage des informations de la catégorie (droite)-->

        </div>
    </div>
</div>
<script type="text/javascript" src="~/js/DynamicSaveButton.js"></script>
<!--Fin pour Fonctionalite des boutons-->

<script>
    //Script pour URL
    const BASE_URL = @Json.Serialize(BASE_URL_RAZOR);

</script>
<!--Script pour la liste de livres d'une categorie-->
<script type="text/javascript">
    function hideall() {
        divListes = document.getElementById("divListeMaisonEditionLivres").childNodes;
        divListes.forEach((element) => { element.className = "visually-hidden" });
    }
    function AfficherMaisonsEditionsLivres(id = "") {
        hideall();

        var liste = document.getElementById("Liste_" + id);
        liste.className = "";
    }
</script>

<!--Script pour Modifier nom-->
<script type="text/javascript">
    function ModifierNomCategorie(id = "", nom = "") {

        fetch(BASE_URL + '/GestionCategories/ModifierNomCategorie?id=' + id + '&nom=' + document.getElementById(id + " " + nom).value, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).catch(error => console.error('Échec du fetch pour modifier le nom'))
            .then((response) => {
                disableButton(id);
                document.getElementById("NomCategorie_" + id).innerText = document.getElementById(id + " " + nom).value;
            });
    }
</script>
<!--Script pour la supprimation et le modal-->
<script type="text/javascript">
    function SupprimerCategorie(id = "") {
        fetch(BASE_URL + '/GestionCategories/SupprimerCategorie?id=' + id, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).catch(error => {
            console.error('Échec du fetch pour supprimer la categorie', error);
        }).then(() => {
            document.getElementById(`${id}`).remove();
            document.getElementById('Liste_' + id).remove();
            $('#ModalId').modal('hide'); // Ferme la modale
        });
    }


    // ModalScript
    function ShowModal($url) {
        $.get($url, function (result) {
            $('.modal-content').html(result);
            $('.modal').modal('show');
        });
    }
</script>

<!--Script pour la recherche-->
<script type="text/javascript">
    // ModalScript
    function RechercherCategorie() {
        console.log("Recherche commencée");
        var motCle = document.getElementById("inputRechercherCategorie").value;
        console.log("Mot entré: " + motCle);
        window.location.href = BASE_URL+`/GestionCategories/Index?motCle=${motCle}`;
    }
</script>
<!--Script pour Ajouter et modifier-->
<script>
    function AjouterCategorie() {
        var form = document.getElementById("FormAjouterCategorie");
        var data = new FormData(form);
        fetch(BASE_URL + "/GestionCategories/Ajouter", {
            method: "POST",
            body: data,
        })
            .then((response) => {
                return response.text();
            }).then((result) => {
                if (result == "") {

                    $('.modal').modal('hide');
                    RechercherCategorie();
                } else {
                    document.querySelector('.modal-content').innerHTML = result;

                }
            });
    }
    function ModifierCategorie() {
        var form = document.getElementById("FormModifierCategorie");
        var data = new FormData(form);
        fetch(BASE_URL + "/GestionCategories/Modifier", {
            method: "POST",
            body: data,
        })
            .then((response) => {
                return response.text();
            }).then((result) => {
                if (result == "") {

                    $('.modal').modal('hide');
                    RechercherCategorie();
                } else {
                    document.querySelector('.modal-content').innerHTML = result;

                }
            });
    }
</script>