@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<VLISSIDES.ViewModels.GestionComptes.GestionComptesAdminVM>
<h1 class="text-center">Admins</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Courriel</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Nom</th>
                <td>@item.Courriel</td>
                @*
                <td>
                    <button class="btn btn-primary" onclick="ShowModal('@Url.Action("ShowModifierCompte", "GestionComptes" , new { id=item.Id })')">a</button>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="ShowModal('@Url.Action("ShowDeleteConfirmationAdmin", "GestionComptes" , new { id=item.Id })')">a</button>
                </td>
                *@
                    

                
            </tr>
        }
    </tbody>
</table>