<!-- Start Footer Section -->
<div class="container relative">

    <!--
        Image stock pour décorer le site
    -->
    <div class="sofa-img">
        <img src="~/img/flat.png" alt="Image" class="img-fluid"
             style="width: 300px">
    </div>

    <!--
        Le code en commentaire en dessous est un code que l'on garde au cas ou on veut implémenter une newsletter
    -->

    @*<div class="row"> *@
    @*     <div class="col-lg-8"> *@
    @*         <div class="subscription-form"> *@
    @*             <h3 class="d-flex align-items-center"> *@
    @*                 <span class="me-1"> *@
    @*                     <img src="~/img/envelope-outline.svg" alt="image" class="img-fluid"> *@
    @*                 </span><span>souscrivez à notre newsletter</span> *@
    @*             </h3> *@
    @* *@
    @*             <form action="#" class="row g-3"> *@
    @*                 <div class="col-auto"> *@
    @*                     <input type="text" class="form-control" placeholder="enter your name"> *@
    @*                 </div> *@
    @*                 <div class="col-auto"> *@
    @*                     <input type="email" class="form-control" placeholder="enter your email"> *@
    @*                 </div> *@
    @*                 <div class="col-auto"> *@
    @*                     <button class="btn btn-primary " id="planebtn"> *@
    @*                         <span class="fa fa-paper-plane"></span> *@
    @*                     </button> *@
    @*                 </div> *@
    @*             </form> *@
    @* *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@

    <div class="row g-5 mb-4">
        <div class="col-lg-4 justify-content-center text-center">
            <!--
                Logo du site en gros
            -->
            <div class="mb-4 footer-logo-wrap">
                <a href="#" class="footer-logo">
                    <img src="~/img/Logo/Logo_rond.png" style="width: 300px; top: -10px;" />
                </a>
            </div>

            <!--
                Liens pour les réseaux sociaux de l'entreprise
            -->
            <ul class="list-unstyled custom-social ">
                <li>
                    <a href="#">
                        <span class="fa-brands fa-facebook-f">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-brands fa-twitter"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-brands fa-instagram"></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa-brands fa-linkedin"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-8">
            <div class="row links-wrap">
                <div class="col-6 col-sm-6 col-md-3">
                    <!--
                        Liens divers
                    -->
                    <ul class="list-unstyled">
                        <h5>
                            Explorez
                        </h5>
                        <li>
                            <a href="#">À propos de nous</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Magazin</a>
                        </li>
                        <li>
                            <a href="#">Devenir membre</a>
                        </li>
                    </ul>
                </div>

                <!--
                    Liens pour les catégories
                -->
                <div class="col-6 col-sm-6 col-md-3">
                    <ul class="list-unstyled">
                        <h5>
                            Categories
                        </h5>

                        <li>
                            <a href="#">Actions</a>
                        </li>
                        <li>
                            <a href="#">Comédie</a>
                        </li>
                        <li>
                            <a href="#">Drama</a>
                        </li>
                        <li>
                            <a href="#">Horror</a>
                        </li>
                        <li>
                            <a href="#">Enfant</a>
                        </li>
                        <li>
                            <a href="#">Romantique</a>
                        </li>

                    </ul>
                </div>

                <!--
                    Liens pour service au client
                -->
                <div class="col-6 col-sm-6 col-md-3">
                    <ul class="list-unstyled">
                        <h5>
                            Service Client
                        </h5>
                        <li>
                            <a href="#">Contactez-nous</a>
                        </li>
                        <li>
                            <a href="#">Retourner un livre</a>
                        </li>

                    </ul>
                </div>


            </div>


        </div>

        <!--
            Affiche l'emplacement de la librairie en utilisant une API de Google Maps
        -->
        <div class="col-md-12">
            <div class="container">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1400.7810164950847!2d-72.7298617625221!3d45.39800492853276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9ce487fc4e11b%3A0x96c3745ae8b4ebaf!2s81%20Rue%20Saint-Joseph%2C%20Granby%2C%20QC%20J2G%206T7%2C%20Canada!5e0!3m2!1sfr!2sus!4v1693324467669!5m2!1sfr!2sus" 
                    width="100%" height="200"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top copyright">

        <!--
            Section pour les droits d'auteur et privacy policy
        -->
        <div class="row pt-4">
            <div class="col-lg-6">
                <p class="mb-2 text-center text-lg-start">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="#">Vlisside</a>
                </p>
            </div>

            <div class="col-lg-6 text-center text-lg-end">
                <ul class="list-unstyled d-inline-flex ms-auto">
                    <li class="me-4">
                        <a href="#">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
<!-- End Footer Section -->