@using System.Globalization
@model double;
@{
    //Ajouter de la valeur plus qu'il va avoir d'espace entre les étoiles
    var ratingAvantModif = Model;

    var rating = ratingAvantModif.ToString("0.0", CultureInfo.InvariantCulture);
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<div class="star-et-nombre-container-lu">
    <div class="star-container-lu">
        <div class="Stars-lu" style="--rating-lu: @rating;"></div>
        <div class="Stars-o-lu"></div>
    </div>
    <p class="rating-number-lu">(@Math.Round(Model, 1))</p>
</div>
<style>
    :root {
        --star-size-lu: 37px;
        --star-size-o-lu: 43px;
        --star-color-lu: #fff;
        --star-background-lu: #fc0;
        --star-background-o-lu: #000;
    }

    .rating-number-lu {
        font-size: 28px;
        align-self: center;
    }

    .star-et-nombre-container-lu {
        display: flex;
        align-self: center;
    }

    .star-container-lu {
        width: 288px;
        position: relative;
    }

    .Stars-lu, .Stars-o-lu {
        display: inline-block;
        font-family: mono;
        width: 100%;
        position: absolute;
    }

    .Stars-lu {
        --percent: calc((var(--rating-lu) / 5) * 100%);
        z-index: 10;
        font-size: var(--star-size-lu);
        top: 5.2px;
        left: 2.5px;
        font-family: 'Roboto', sans-serif;
        &::before

    {
        content: '★★★★★';
        letter-spacing: 26px;
        background: linear-gradient(90deg, var(--star-background-lu) var(--percent), var(--star-color-lu) var(--percent));
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }

    }

    .Stars-o-lu {
        font-size: var(--star-size-o-lu);
        top: 0;
        left: 0;
        font-family: 'Roboto', sans-serif;
        &::before
    {
        content: '★★★★★';
        letter-spacing: 21px;
        background: var(--star-background-lu);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }

    }
</style>