
p {
    margin: 0;
}

.event-card-parentDiv {
    width: 44%;
}

.event-card {
    display: flex;
    flex-direction: column; /* Organise le contenu verticalement */
    justify-content: center; /* Centre le contenu verticalement */
    align-items: center; /* Centre le contenu horizontalement */
    position: relative;
    width: 100%;
    height: 366px !important;
    background-color: #f5f7fa;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 12px;
    margin: 12px;
}

.div-event-img {
    max-height: 120px !important;
}

.img-event {
    max-height: 120px !important;
}

.event-image {
    object-fit: cover !important;
    border-radius: 15px !important;
    margin-right: 20px !important;
}

.event-content {
    flex: 1;
    margin-right: 30px !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.event-card h2 {
    font-size: 1.3rem !important;
    font-weight: bold !important;
    margin-bottom: 15px !important;
    color: #333 !important;
}

.event-card p {
    font-size: 0.95rem !important;
    line-height: 1.6 !important;
}

.event-date-time {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 18px;
}

.event-date-time i, .event-content p {
    color: #2a5b9a;
}

.dateEvent {
    background-color: rgba(42, 91, 154, 0.2);
}

.event-content p, .event-date-time p {
    color: #333333; /* Texte général en gris foncé */
}

.places-restantes {
    text-align: start;
}

.date {
    background-color: #e4e9f2;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.date i, .time i, .seats i {
    margin-right: 10px;
}

.sticker {
    position: absolute !important;
    padding: 5px 15px !important;
    background-color: #5ebe39 !important;
    color: #fff !important;
    border-radius: 20px !important;
    font-size: 14px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) !important;
}

.stickerDisponible {
    position: absolute !important;
    padding: 5px 15px !important;
    background-color: #5ebe39 !important;
    color: #fff !important;
    border-radius: 20px !important;
    font-size: 14px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) !important;
}

.stickerIndisponible {
    position: absolute !important;
    padding: 5px 15px !important;
    background-color: #ff4b5c !important;
    color: #fff !important;
    border-radius: 20px !important;
    font-size: 14px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) !important;
}

.reserve-btn {
    align-self: flex-end;
    margin-top: 2px !important;
    margin-bottom: 0 !important;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    transform: translateY(0);
}


.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.reserve-btn:hover {
    transform: translateY(-3px);
}

.event-date-time i {
    display: inline-block;
    transition: transform 0.3s;
}

.event-date-time i:hover {
    transform: rotate(20deg);
}

.reserve-btn {
    transform: translateY(0);
    transition: transform 0.3s, background-color 0.3s;
}

.date, .time, .seats {
    background-color: #e4e9f2;
    padding: 10px;
    border-radius: 10px;
}

.sticker {
    font-size: 14px;
    padding: 5px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.event-desc {
    overflow: auto;
    max-height: 128px;
}

@media only screen and (max-width: 1060px) and (min-width: 766px) {
    .div-event-img {
        width: 40%;
        margin-bottom: 12px;
    }

    .div-event-nom {
        width: 60%;
        margin-bottom: 12px;
    }

    .event-card {
        width: 100%;
        height: 408px !important;
        flex-direction: column;
    }

    .event-image {
        width: 100%; /* Assurez-vous que l'image prend toute la largeur */
        margin-bottom: 20px;
    }

    .event-content {
        margin-right: 0;
        text-align: center; /* Centrez le texte pour un meilleur rendu sur mobile */
    }

    .event-date-time {
        flex-direction: column; /* Changez la direction pour s'assurer que la date et le rabais s'empilent verticalement */
        /*align-items: center; /* Centrez le contenu horizontalement */
        gap: 10px;
    }

    .event-date-time .date, .event-date-time .discount-box {
        width: 100%; /* Assurez-vous que la date et le rabais prennent toute la largeur */
        text-align: center; /* Centrez le texte pour un meilleur rendu sur mobile */
    }

    .sticker {
        position: static;
        margin-top: -25px;
        padding: 10px 20px;
        margin-right: -25px;
    }

    .reserve-btn {
        margin-bottom: 20px;
        width: 100%; /* Réduisez la largeur du bouton pour un meilleur rendu sur mobile */
        margin-left: auto; /* Centrez le bouton horizontalement */
        margin-right: auto;
    }
}

@media only screen and (max-width: 767px) {
    .badge {
        top: 20px;
    }

    .event-date-time {
        display: none;
    }
}

@media only screen and (max-width: 508px) {
    .event-caroussel-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .event-desc {
        display: none;
    }

    .event-card {
        display: flex;
        flex-direction: row;
        height: 30%;
        width: 160px;
    }
}