@model VLISSIDES.ViewModels.Profile.ProfileModifierPasswordVM


<form method="post" asp-controller="Profile" asp-action="ModifierPassword" id="PasswordForm">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <div class="card" id="password">
            <div class="card-header">
                <h5>Modification du mot de passe</h5>
            </div>
            
            <div class="card-body pt-0">
                <div class="form-group form-group-outline">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" type="password" class="form-control" onfocus="focused(this)"
                           onfocusout="defocused(this)">
                    <div data-lastpass-icon-root="true"
                         style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                    </div>
                </div>
                <div class="f-group form-group-outline my-4">
                    <label asp-for="NewPassword" class="form-label"></label>
                    <input asp-for="NewPassword" type="password" class="form-control" onfocus="focused(this)"
                           onfocusout="defocused(this)">
                    <div data-lastpass-icon-root="true"
                         style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                    </div>
                </div>
                <div class="form-group form-group-outline">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" onfocus="focused(this)"
                           onfocusout="defocused(this)">
                    <div data-lastpass-icon-root="true"
                         style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;">
                    </div>
                </div>
                <h5 class="mt-5">Exigences du mot de passe</h5>
                <p class="text-muted mb-2">
                    Veuillez suivre ce guide pour obtenir un mot de passe fort :
                </p>
                <ul class="text-muted ps-4 mb-0 float-start">
                    <li>
                        <span class="text-sm">Un caractère spécial</span>
                    </li>
                    <li>
                        <span class="text-sm">Six caractères minimum</span>
                    </li>
                    <li>
                        <span class="text-sm">Un chiffre (2 sont recommandés)</span>
                    </li>
                    <li>
                        <span class="text-sm">Changez-le souvent</span>
                    </li>
                </ul>
            <button class="btn bg-gradient-dark btn-sm float-end mt-6 mb-0" onclick="ProfileModifierPassword()" type="button">Enregistrer le mot de passe</button>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
</form>
