@using VLISSIDES.ViewModels.Recherche;
@model IndexRechercheVM;
@{
    ViewData["Title"] = "Inventaire";
}
<link rel="stylesheet" href="~/css/Recherche.css">
<div class="d-block p-4 p-4">

    @if(Model.ResultatRecherche.Count <= 0){
        <div class="mb-4">
            <h1>Aucun résultat pour "@Model.MotRecherche"</h1>
        </div>
    }else{
        <div class="mb-4">
            <h1>Résultat de recherche pour "@Model.MotRecherche"</h1>
        </div>
    }

    <div class="container-fluid m-1">

        @* Les recherches *@
        <form>
            @* Research bar *@
            <div class="row mb-3">
                <div class="col-2 ml-4 text-center">
                    <a id="rechercherBTN" asp-controller="Recherche" asp-action="Index" > 
                        <button type="button" class="container-fluid btn btn-primary">
                            Rechercher
                        </button>
                    </a>
                </div>

                <div class="col-10">
                    <input id="rechercheGeneral" type="text" class="form-control" placeholder="Recherche général" aria-label="recherche" aria-describedby="basic-addon2">
                </div>
            </div>

            <div class="row">

                <div class="col-2 bg-secondary">

                    @* Recherche précise *@
                    <div class="my-2">
                        <h3>Spécification</h3>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Titre</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Auteur</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Maison d'édition</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                        </div>
                    </div>

                    @* Catégorie *@
                    <div class="my-4">
                        <h3>Catégorie</h3>
                        <div class="form-check border border-dark">
                            @* Ici il va y avoir une boucle for pour générer automatiquement les checkbox selon la liste des catégories *@
                            <div class="form-check">

                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Fantaisie
                                </label>

                            </div>

                            <div class="form-check">

                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Sci-Fi
                                </label>

                            </div>

                            <div class="form-check">

                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Aventure
                                </label>

                            </div>

                            <div class="form-check">

                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Horreur
                                </label>

                            </div>
                        </div>
                    </div>
                </div>

                @* Body *@
                <div class="col-10">

                    @* Results *@
                    <div class="results">
                        @foreach(Livre livre in Model.ResultatRecherche){
                            <partial name="_CarteLivreRecherche.cshtml" model="@livre"/>
                        }
                    <div>
                </div>

            </div>
            
        </form>

    </div>

</div>
<script type="text/javascript">
    //Script pour la recherche
    var search = document.getElementById("rechercheGeneral"); 
    var btnSearch = document.getElementById("rechercherBTN");

    btnSearch.addEventListener("click", Rechercher);

    async function Rechercher(ev) {
        ev.preventDefault();

        var searchTerm = search.value; // Récupérer la valeur de la barre de recherche

        // Utiliser la valeur dans l'URL pour l'action Index
        window.location.href = `/Recherche/Index?motCle=${searchTerm}`;
    }
</script> 