@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using VLISSIDES.ViewModels.MaisonEditions
@model MaisonEditionsAjouterVM

<div class="container">
    <br />
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#champAjouter">
        Ajouter une maison d'édition
    </button>
    <form class="collapse" id="champAjouter" enctype="multipart/form-data">
        <label asp-for="Nom" class="control-label"></label>
        <input class="form-control" asp-for="Nom" id="Nom"/>
        <span asp-validation-for="Nom" class="text-danger"></span>
        <button class="btn btn-primary p-2" type="submit" onclick="AjouterMaisonEdition" data-toggle="tooltip" title="Ajouter le livre">
            Ajouter
        </button>
    </form>
</div>

 <script type="text/javascript">
    function AjouterMaisonEdition() {
        var form = document.getElementById("champAjouter");
        var data = new FormData(form);
        //var jsonData  = JSON.stringify(Object.fromEntries(formData));
         //var csrfToken = form.querySelector(­'[name="__RequestVerificationToken"]').value;
        fetch('Ajouter', {
            method: "POST",
            body: data,
             // headers: {
             //    RequestVerificationToken: csrfToken,
             // },
        }).catch(error => {
            console.error('Échec du fetch pour ajouter maison edition', error);
        }).then(() => {

        })
    }
</script> 