@{
}

<div class="item">
    <div class="card event" style="width: 18rem">
        <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
             class="card-img-top"
             alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title 5</h5>
            <partial name="_Etoiles.cshtml" />
            <p class="card-text">
                Some quick example text to build on the card title and
                make up the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>