@{
    //Juste pour pouvoir différencier les cartes
    Random random = new Random();
    int randomNumber = random.Next(1, 100000);
}
<div class="item">
    <div class="card event" style="width: 18rem">
        <img src="/images/ImagesTest/eventsTest.jpg"
             class="card-img-top"
             alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title @randomNumber</h5>
            <partial name="_Etoiles.cshtml" />
            <p class="card-text">
                Some quick example text to build on the card title and
                make up the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>