@*Les étoiles pour le rating*@

<ul class="list-unstyled list-inline mb-0">
    <li class="list-inline-item me-0">
        <i class="fas fa-star text-warning fa-xs"></i>
    </li>

    <li class="list-inline-item me-0">
        <i class="fas fa-star text-warning fa-xs"></i>
    </li>

    <li class="list-inline-item me-0">
        <i class="fas fa-star text-warning fa-xs"></i>
    </li>

    <li class="list-inline-item me-0">
        <i class="fas fa-star text-warning fa-xs"></i>
    </li>

    <li class="list-inline-item">
        <i class="fas fa-star-half-alt text-warning fa-xs"></i>
    </li>

    <li class="list-inline-item">
        <p class="text-muted">4.5 (413)</p>
    </li>
</ul>