@model VLISSIDES.ViewModels.Accueil.IndexAccueilVM
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Accueil Page";
}
<link rel="stylesheet" href="~/css/Accueil/Accueil.css">
<link rel="stylesheet" href="~/css/Accueil/event-card.css">
<link rel="stylesheet" href="~/css/Accueil/promo-card.css">

@{
    bool isIncompleteBirthday = User.Identity.IsAuthenticated && Model.Utilisateur?.DateNaissance == null;

}
<!--
Ceci est le div qui contient une image large avec le titre
-->
<!-- Hero -->
<div class="col-md-12">
    <div class="text-center bg-image col-md-12 img-fluid" id="photoPageAccueilDiv">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-dark">
                <h1 class="mb-3" id="Titre">La fourmi ailée</h1>
                <h4 class="mb-3 slogan ">Découvrez de nouveaux horizons littéraires</h4>
                <a class=" acheter btn btn-lg" asp-controller="Recherche" asp-action="Index" role="button"> Achetez maintenant</a>
            </div>
        </div>
    </div>
</div>

<!-- Hero -->

<!--
Un bouton pour cacher/montrer les services de l'entreprise
-->
<div class="container-fluid justify-content-center d-flex">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#serviceCollapse">
        Afficher nos services
    </button>
</div>


<div class="container-fluid justify-content-center text-center ">

    <!--
    Un carousel contenant les services offerts. Il n'y a que des donnés test.

    Les slides sont par 3, et lorsqu'on clique sur les flèches pour transitionner, le carousel glisse par 3 au lieu de 1

    Les cartes sont toutes des vues partielles.

    -->
    <div id="serviceCollapse" class="collapse">
        <h2 class="container-fluid titreSections mb-1">Nos Services offerts: </h2>
        <p class="m-2">Des services adaptés à chaque passionné de lecture."</p>
        @if (Model.Services.Count > 0)
        {
            <div class="cards-wrapper d-flex flex-wrap">
                @foreach (var service in Model.Services)
                {
                    <partial name="PartialViews/Accueil/_ServiceOffert" model="service"/>
                }
            </div>
            <hr/>
        }
    </div>


    <!--
    Un carousel contenant les évènements. Il n'y a que des donnés test.

    Les slides sont par 3, et lorsqu'on clique sur les flèches pour transitionner, le carousel glisse par 3 au lieu de 1

    Les cartes sont toutes des vues partielles.
    -->

    @* Section pour les nouveaux services *@

    @if (Model.Evenements.Count > 0)
    {
        <h2 class="titreSections mb-1">Nos Activités Et Évenements: </h2>
        <p class="m-2">Immergez-vous dans nos événements et partagez des moments d'exception.</p>
        <div id="carouselEvenements" class="carousel slide container-fluid">
            <a class="voirPlus" asp-controller="Evenements" asp-action="Index">Voir plus -></a>
            <div class="carousel-inner">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="cards-wrapper d-flex justify-content-around event-caroussel-item">
                            <div class="event-card-parentDiv">
                                <partial name="PartialViews/Accueil/_CarteEvenement2" model="Model.Evenements[0]" />
                            </div>
                            @if (Model.Evenements.Count > 1)
                            {
                                <div class="event-card-parentDiv">
                                    <partial name="PartialViews/Accueil/_CarteEvenement2" model="Model.Evenements[1]" />
                                </div>
                            }
                        </div>
                    </div>
                    @for (var indexEvenement = 2; indexEvenement < (float)Model.Evenements.Count; indexEvenement += 2)
                    {
                        <div class="carousel-item">
                            <div class="cards-wrapper d-flex justify-content-around event-caroussel-item">
                                @for (var indexLivre2 = 0; indexLivre2 < 2; indexLivre2++)
                                {
                                    @if (Model.Evenements.Count > indexEvenement + indexLivre2)
                                    {
                                        <div class="event-card-parentDiv">
                                            <partial name="PartialViews/Accueil/_CarteEvenement2" model="Model.Evenements[indexEvenement + indexLivre2]" />
                                        </div>
                                    }
                                    else
                                    {
                                        break;
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselEvenements" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselEvenements" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    }


    <!-- Carousel contenant les promotion -->
    @if (Model.Promotions.Count > 0)
    {
        <section class="promotion-section">
            <h2 class="titreSections">Offres spéciales juste pour vous!</h2>
            <p>Découvrez nos offres du moment et enrichissez votre collection.</p>
            <div id="carouselPromotions" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="cards-wrapper d-flex justify-content-around">
                                <div class="cacher-0 promo-card-parent">
                                    <partial name="PartialViews/Accueil/_CartePromotion" model="Model.Promotions[0]"/>
                                </div>
                                @if (Model.Promotions.Count > 1)
                                {
                                    <div class="cacher-1 promo-card-parent">
                                        <partial name="PartialViews/Accueil/_CartePromotion" model="Model.Promotions[1]"/>
                                    </div>
                                }
                            </div>
                        </div>
                        @for (var indexEvenement = 2; indexEvenement < (float)Model.Promotions.Count; indexEvenement += 2)
                        {
                            <div class="carousel-item">
                                <div class="cards-wrapper d-flex justify-content-around">
                                    @for (var indexLivre2 = 0; indexLivre2 < 2; indexLivre2++)
                                    {
                                        @if (Model.Promotions.Count > indexEvenement + indexLivre2)
                                        {
                                            <div class="cacher-@indexLivre2">
                                                <partial name="PartialViews/Accueil/_CartePromotion" model="Model.Promotions[indexEvenement + indexLivre2]"/>
                                            </div>
                                        }
                                        else
                                        {
                                            break;
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromotions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Précédent</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPromotions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Suivant</span>
                </button>
            </div>

        </section>
    }


    <!--
    Un carousel contenant les livres en vedette. Nous désirons y ajouter les livres populaires, ou les nouveautés dans ce carousel.
    Pour le moment, nous avons des donnés test.

    Les slides sont par 4, et lorsqu'on clique sur les flèches pour transitionner, le carousel glisse par 4 au lieu de 1

    Les cartes sont toutes des vues partielles.
    -->
    @if (Model.Vedettes.Count > 1)
    {
        <h2 class="titreSections mb-1">Nos Livres en vedette: </h2>
        <p class="m-2">Nos sélections du moment, des œuvres qui font parler d'elles.</p>
        <div id="carouselLivresVedette" class="carousel slide container">
            <a class="voirPlus" asp-controller="Recherche" asp-action="Index">Voir plus -></a>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="cards-wrapper d-flex justify-content-around">
                        <div class="cacher-0">
                            <partial name="PartialViews/Accueil/_CarteLivre" model="Model.Vedettes[0]"/>
                        </div>
                        @if (Model.Vedettes.Count > 2)
                        {
                            <div class="cacher-1">
                                <partial name="PartialViews/Accueil/_CarteLivre" model="Model.Vedettes[1]"/>
                            </div>
                        }
                        @if (Model.Vedettes.Count > 3)
                        {
                            <div class="cacher-2">
                                <partial name="PartialViews/Accueil/_CarteLivre" model="Model.Vedettes[2]"/>
                            </div>
                        }
                        @if (Model.Vedettes.Count > 4)
                        {
                            <div class="cacher-3">
                                <partial name="PartialViews/Accueil/_CarteLivre" model="Model.Vedettes[3]"/>
                            </div>
                        }
                    </div>
                </div>
                @for (var indexLivre = 1; indexLivre < (float)Model.Vedettes.Count / 4; indexLivre++)
                {
                    <div class="carousel-item">
                        <div class="cards-wrapper d-flex justify-content-around">
                            @for (var indexLivre2 = 0; indexLivre2 < 4; indexLivre2++)
                            {
                                @if (Model.Vedettes.Count > indexLivre * 4 + indexLivre2)
                                {
                                    <div class="cacher-@indexLivre2">
                                        <partial name="PartialViews/Accueil/_CarteLivre" model="Model.Vedettes[indexLivre * 4 + indexLivre2]"/>
                                    </div>
                                }
                                else
                                {
                                    break;
                                }
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselLivresVedette" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselLivresVedette" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    }
</div>
<script>
function toggleDescription(buttonElement) {
    var descriptionElement = buttonElement.previousElementSibling;

    if (descriptionElement.style.display === "none" || descriptionElement.style.display === "") {
        descriptionElement.style.display = "block";
        buttonElement.innerText = "Voir moins";
    } else {
        descriptionElement.style.display = "none";
        buttonElement.innerText = "Voir plus";
    }
}


</script>

@section Scripts {
    @* seulement si l'utlisateur est un membre *@
    @if (!User.Identity.IsAuthenticated || User.IsInRole(RoleName.MEMBRE))
    {
        @if (isIncompleteBirthday)
        {
            <script>
            setTimeout(function() {
                Swal.fire({
                    title: 'Complétez votre profil',
                    text: 'Ajoutez votre date de naissance pour recevoir un code promo spécial le jour de votre anniversaire! 🙂',
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#146ec3',
                    cancelButtonColor: '#ff4b5c',
                    confirmButtonText: 'Ajouter maintenant',
                    cancelButtonText: 'Plus tard',
                        showClass: {
                            popup: 'animate__animated animate__fadeInDown' // Utilisation de animate.css pour une animation plus lente
                        },
                        hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                        },
                        timer: 15000, // Le modal restera ouvert pendant 10 secondes
                        timerProgressBar: true // Affiche une barre de progression pour le timer

                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '@Url.Action("Index", "Profile")'; // Redirigez vers la page de profil
                    }
                });
            }, 5000); // 5 secondes après que la page a chargé
        </script>
        }
    }
}