@{
    ViewData["Title"] = "Accueil Page";
}
@model AccueilIndexViewModel

<body>
    <div id="photoPageAccueilDiv" >
        <h1 id="Titre">La fourmi ailée</h1>
    </div>

    <div class="banderole" id="banderoleEvents">
        <h3>Évènements: </h3>
        <div id="listeEvents" class="listeBanderole">
            <div class="row">
                <div class="col-md-12 d-inline-flex">
                    <div class="featured-carousel owl-carousel">
                        <div class="item">
                            <div class="card event" style="width: 18rem">
                                <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Card title 1</h5>
                                    <partial name="_Etoiles.cshtml" />
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card event" style="width: 18rem">
                                <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Card title 2</h5>
                                    <partial name="_Etoiles.cshtml" />
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card event" style="width: 18rem">
                                <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Card title 3</h5>
                                    <partial name="_Etoiles.cshtml" />
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card event" style="width: 18rem">
                                <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Card title 4</h5>
                                    <partial name="_Etoiles.cshtml" />
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card event" style="width: 18rem">
                                <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Card title 5</h5>
                                    <partial name="_Etoiles.cshtml" />
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banderole" id="banderoleLivresVedette">
        <h3>Livres en vedette: </h3>
        <div id="listeLivresVedette" class="listeBanderole feature-carousel ">
            <div class="col-md-12">
                <div class="featured-carousel owl-carousel owl-loaded owl-drag d-flex flex-row">
                    <div class="item">
                        <div class="card event" style="width: 18rem">
                            <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card title 3</h5>
                                <partial name="_Etoiles.cshtml" />
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card event" style="width: 18rem">
                            <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card title 3</h5>
                                <partial name="_Etoiles.cshtml" />
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                                <a href="#" class="btn btn-primary">Go nowhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card event" style="width: 18rem">
                            <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card title 3</h5>
                                <partial name="_Etoiles.cshtml" />
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                                <a href="#" class="btn btn-primary">Don't go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card event" style="width: 18rem">
                            <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card title 3</h5>
                                <partial name="_Etoiles.cshtml" />
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                                <a href="#" class="btn btn-primary">Go elsewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card event" style="width: 18rem">
                            <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                 class="card-img-top"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card title 3</h5>
                                <partial name="_Etoiles.cshtml" />
                                <p class="card-text">
                                    Some quick example text to build on the card title and
                                    make up the bulk of the card's content.
                                </p>
                                <a href="#" class="btn btn-primary">Just go</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

<style> 
    #photoPageAccueilDiv{
        display: block;
        width: 100%;
        height: 100%px;
        background-image: url("images/ImagesTest/livres.jpg");
        background-size: 100%, 100%, 100%, 100%;
        background-repeat: no-repeat;
        text-align: center;
    }

    #Titre{
        color: white;
        padding-top: 25%;
        padding-bottom: 25%;
    }

    .listeBanderole {
        display: flex;
        justify-content: space-around;
    }

    .banderole{
        margin-top: 20px;
    }
    .event{
        
    }
</style>
