@using VLISSIDES.Models;
@using VLISSIDES.ViewModels.Accueil;
@{
    ViewData["Title"] = "Accueil Page";
    _LivreCardVM _VMLivre = new _LivreCardVM { monLivre = new Livre
            {
                Titre = "Mon beau titre",
                Couverture = "https://i.pinimg.com/236x/37/a9/98/37a99839a447357ee6d3d4b9c991d864.jpg"
            }
    };
}

<div id="photoPageAccueilDiv" class="col-md-12 mb-6 img-fluid justify-content-center text-center d-flex flex-row ">
    <h1 id="Titre">La fourmi ailée</h1>
</div>

<div class="container">
    <h3>Évenements: </h3>
    <div id="carouselEvenements" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-wrapper">
                    <partial name="_CarteEvenement.cshtml"/>
                    <partial name="_CarteEvenement.cshtml" />
                    <partial name="_CarteEvenement.cshtml" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <partial name="_CarteEvenement.cshtml" />
                    <partial name="_CarteEvenement.cshtml" />
                    <partial name="_CarteEvenement.cshtml" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <partial name="_CarteEvenement.cshtml" />
                    <partial name="_CarteEvenement.cshtml" />
                    <partial name="_CarteEvenement.cshtml" />
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEvenements" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselEvenements" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h3>Livres en vedette: </h3>
    <div id="carouselLivresVedette" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-wrapper">
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselLivresVedette" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselLivresVedette" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h3>Recommendations pour vous: </h3>
    <div id="carouselRecommendations" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-wrapper">
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                    <partial name="_CarteLivre.cshtml" model="_VMLivre" />
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselRecommendations" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselRecommendations" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<style>
    #photoPageAccueilDiv{
        background: url('https://images.pexels.com/photos/261821/pexels-photo-261821.jpeg?auto=compress&cs=tinysrgb') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100vw !important;
        overflow: hidden;
        height: 70vh;
    }
 
    #Titre{
        color: white;
        padding-top: 25%;
        padding-bottom: 25%;
    }

    .listeBanderole {
        display: flex;
        justify-content: space-around;
    }

    .banderole{
        margin-top: 20px;
    }

    .event{

    }

    .cards-wrapper {
        display: flex;
        justify-content: center;
    }

    .card img {
        max-width: 100%;
        max-height: 100%;
    }

    .card {
        margin: 0 2.0em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        border-radius: 0;
    }

    .carousel-inner {
        padding: 1em;
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: #e1e1e1;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 50%;
        padding-bottom: 10px;
        transform: translateY(-50%);
    }
</style>
