@using Microsoft.CodeAnalysis.Differencing;
@{
    ViewData["Title"] = "Accueil Page";
}
@model AccueilIndexViewModel

<body>
    <div id="photoPageAccueilDiv" >
        <h1 id="Titre">La fourmi ailée</h1>
    </div>

    <div class="banderole" id="banderoleEvents">
        <h3>Évènements: </h3>
        <div id="listeEvents" class="listeBanderole">
            <div class="row">
                <div class="col-md-12 d-inline-flex">
                    <div class="featured-carousel owl-carousel">
                        <div class="item">
                            <div class="card event" style="width: 18rem">
                                <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Card title 1</h5>
                                    <partial name="_Etoiles.cshtml" />
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card event" style="width: 18rem">
                                <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Card title 2</h5>
                                    <partial name="_Etoiles.cshtml" />
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card event" style="width: 18rem">
                                <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Card title 3</h5>
                                    <partial name="_Etoiles.cshtml" />
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card event" style="width: 18rem">
                                <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Card title 4</h5>
                                    <partial name="_Etoiles.cshtml" />
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card event" style="width: 18rem">
                                <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                     class="card-img-top"
                                     alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">Card title 5</h5>
                                    <partial name="_Etoiles.cshtml" />
                                    <p class="card-text">
                                        Some quick example text to build on the card title and
                                        make up the bulk of the card's content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-wrapper">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cards-wrapper">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="banderole" id="banderoleLivresVedette">
        <h3>Livres en vedette: </h3>
        <div id="listeLivresVedette" class="listeBanderole">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel slide multi-item-carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="card event col-xs-4" style="width: 18rem">
                                    <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 3</h5>
                                        <partial name="_Etoiles.cshtml" />
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card event" style="width: 18rem">
                                    <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 3</h5>
                                        <partial name="_Etoiles.cshtml" />
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go nowhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card event" style="width: 18rem">
                                    <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 3</h5>
                                        <partial name="_Etoiles.cshtml" />
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Don't go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card event" style="width: 18rem">
                                    <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 3</h5>
                                        <partial name="_Etoiles.cshtml" />
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Go elsewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card event" style="width: 18rem">
                                    <img src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title">Card title 3</h5>
                                        <partial name="_Etoiles.cshtml" />
                                        <p class="card-text">
                                            Some quick example text to build on the card title and
                                            make up the bulk of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary">Just go</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<style> 
    #photoPageAccueilDiv{
        display: block;
        width: 100%;
        height: 100%px;
        background-image: url("images/ImagesTest/livres.jpg");
        background-size: 100%, 100%, 100%, 100%;
        background-repeat: no-repeat;
        text-align: center;
    }

    #Titre{
        color: white;
        padding-top: 25%;
        padding-bottom: 25%;
    }

    .listeBanderole {
        display: inline;
        justify-content: space-around;
    }

    .banderole{
        margin-top: 20px;
    }
    .event{
        
    }

    .cards-wrapper {
      display: flex;
      justify-content: center;
    }
    .card img {
      max-width: 100%;
      max-height: 100%;
    }
    .card {
      margin: 0 0.5em;
      box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
      border: none;
      border-radius: 0;
    }
    .carousel-inner {
      padding: 1em;
    }
    .carousel-control-prev,
    .carousel-control-next {
      background-color: #e1e1e1;
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
    
</style>
