@{
    ViewData["Title"] = "À propos";
}
<link rel="stylesheet" href="~/css/Info.css">
<div class="container py-4">


    <h1 class="text-center mb-4">Notre mission</h1>
    <p class="mb-4">
        Ouverte depuis plus d’une décennie à Stanstead, elle fait maintenant peau neuve à Granby sur la magnifique
        rue piétonnière ST-Joseph au centre-ville. La Fourmi ailée est spécialisée dans la vente de livres sur place
        et en ligne et offre une panoplie d’activités en lien avec la lecture : soirée poésie, atelier de création littéraire,
        lecture de contes, après-midi improvisation et combat d’écriture. Développer le plaisir de la lecture, stimuler la curiosité
        et la créativité, informer, conseiller et favoriser un échange.
    </p>
    <h2 class="mb-6">Nos employés :</h2>
    <div class="d-flex text-center justify-content-around">
        <div>
            <img class="avatar" src="~/img/AvatarEmploye/Charline.png"/>
            <h3>Charline</h3>
            <p>Directrice financière</p>
        </div>
        <div>
            <img class="avatar" src="~/img/AvatarEmploye/Audrey.png"/>
            <h3>Audrey</h3>
            <p>Directrice financière</p>
        </div>
        <div>
            <img class="avatar" src="~/img/AvatarEmploye/Albert.png"/>
            <h3>Albert</h3>
            <p>Directeur technique</p>
        </div>
        <div>
            <img class="avatar" src="~/img/AvatarEmploye/David.png"/>
            <h3>David</h3>
            <p>Directeur des opérations</p>
        </div>
        <div>
            <img class="avatar" src="~/img/AvatarEmploye/Victoria.png"/>
            <h3>Victoria</h3>
            <p>Responsable des communications</p>
        </div>
    </div>
</div>