@model VLISSIDES.ViewModels.Accueil.MessageVM
@{
    ViewData["Title"] = Model.Tittre;
}
<link rel="stylesheet" href="~/css/Message.css">

<div>
    <h1>@Model.Tittre</h1>
    <pre>@Model.Message</pre>
</div>