@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="heading-section mb-5 pb-md-4">Carousel #02</h2>
    </div>
    <div class="col-md-12">
        <div class="featured-carousel owl-carousel">
            <div class="item">
                <div class="card event" style="width: 18rem">
                    <img
                        src="https://thumbs.dreamstime.com/z/num%C3%A9ro-cinq-sous-forme-de-biblioth%C3%A8que-avec-livre-et-textes-police-alphabet-conceptuel-l-%C3%A9ducation-apprentissage-conceptuelle-254166006.jpg"
                        class="card-img-top"
                        alt="..."/>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <ul class="list-unstyled list-inline mb-0">
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"> </i>
                            </li>
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item me-0">
                                <i class="fas fa-star text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fas fa-star-half-alt text-warning fa-xs"></i>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted">4.5 (413)</p>
                            </li>
                        </ul>
                        <p class="card-text">
                            Some quick example text to build on the card title and
                            make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>