@model VLISSIDES.ViewModels.GestionAuteurs.AuteursIndexVM
@{
    ViewData["Title"] = "Auteurs";
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}


<link rel="stylesheet" href="~/css/ListeLivres.css"/>
<link rel="stylesheet" href="~/css/Responsive/BasicHideMediaQuerry.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/Responsive/ListeGestion.css" asp-append-version="true">

<div class="modal fade modal-dialog-centered" tabindex="-1" role="dialog" aria-hidden="true" id="ModalId"
     style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<!-- Barre latérale coulissante -->
<partial name="PartialViews/Dashboard/_SideBarPartial"/>

<div class="d-block p-4 p-4">


    <!--Début : Ajouter Auteur-->
    <div class="container-fluid">

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#champAjouter">
            Ajouter un auteur
        </button>

        <form class="collapse" id="champAjouter" enctype="multipart/form-data">
            <br/>
            @* @Html.AntiForgeryToken() *@
            @*<label asp-for="MaisonEditionsAjouterVM.Nom" class="control-label"></label>*@
            <div class="input-group">
                <input class="form-control" asp-for="AuteursAjouterVM.NomAuteur" id="inputNom" placeholder="Nom"/>
                <span asp-validation-for="AuteursAjouterVM.NomAuteur" class="text-danger"></span>
                <button class="btn btn-primary p-2" type="button" onclick="AjouterAuteur()" data-toggle="tooltip" title="Ajouter le livre">
                    Ajouter
                </button>
            </div>

        </form>

    </div>
    <br/>
    <!--Fin : Ajouter maison edition-->
    <!--Fin : Rechercher auteur-->
    <div class="container-fluid">

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rechercherAuteur">
            Rechercher une auteur
        </button>

        <form class="collapse" id="rechercherAuteur" enctype="multipart/form-data">
            <br/>
            <div class="input-group">
                <input class="form-control" id="inputRechercherAuteur" placeholder="Rechercher..."/>
                <button class="btn btn-primary p-2" type="button" onclick="AfficherListe()" data-toggle="tooltip" title="Rechercher la auteur">
                    Rechercher
                </button>
            </div>

        </form>

    </div>
    <br/>
    <!--Fin : Rechercher auteur-->

    <div class="d-block p-4 p-4">

        <div class="mb-4 text-center">
            <h1>Gestion des auteurs</h1>
        </div>

        <div class="mb-4">
            <h3>Liste des auteurs</h3>
            <div class="row p-0" id="ListeAuteurPartial">

            </div>
            
            

        </div>

    </div>
</div>
<script>
    //Script pour URL
    const BASE_URL = @Json.Serialize(BASE_URL_RAZOR);
    
</script>
<!--Fonctionalite des boutons *-->
<style>
    /*Pour cacher les boutons de sauvegarde --- Ne fonction pas dans un fichier css*/
    .saveButton {
        visibility: hidden;
    }
</style>
<script type="text/javascript" src="~/js/DynamicSaveButton.js"></script>
<!--Fin pour Fonctionalite des boutons-->

<!--Script pour liste-->
<script type="text/javascript">
    function AfficherListe(page= @ViewBag.CurrentPage) {
        // Récupère la valeur du mot-clé de recherche à partir de l'élément d'entrée
        var motCle = document.getElementById("inputRechercherAuteur").value || "";
        
        // Construit l'URL pour la requête API en utilisant le mot-clé et le numéro de page
        var apiUrl = BASE_URL + '/GestionAuteurs/AfficherListe?motCle=' + motCle + '&page=' + page;
        
        // Effectue une requête GET à l'API
        fetch(apiUrl, {
            method: "GET"
        }).then((response) => {
            // Convertit la réponse en texte
            return response.text();
        }).then((result) => {
            // Met à jour le contenu de la div avec le résultat
            var div = document.getElementById("ListeAuteurPartial");
            div.innerHTML = result;
        }).catch(error => {
            // Affiche une erreur dans la console en cas d'échec de la requête
            console.error('Erreur lors de la récupération de la liste des auteurs', error);
        });
    }


    AfficherListe();
</script>
<!--Script pour Ajouter-->
<script type="text/javascript">
    function AjouterAuteur() {
        var form = document.getElementById("champAjouter");
        var data = new FormData(form);

        //var csrfToken = form.querySelector(­'[name="__RequestVerificationToken"]').value;
        fetch(BASE_URL + '/GestionAuteurs/Ajouter', {
            method: "POST",
            body: data
            // headers: {
            //    RequestVerificationToken: csrfToken,
            // },
        }).catch(error => {
            console.error('Échec du fetch pour ajouter auteur', error);
        }).then((response) => {
            AfficherListe();
        });
        form.reset();
    }
</script>
<!--Script pour la liste de livres d'un auteur-->
<script type="text/javascript">
    function hideall() {
        divListes = document.getElementById("divListeAuteursLivres").childNodes;
        divListes.forEach((element) => { element.className = "visually-hidden" });
    }
    function AfficherAuteursLivres(id = "") {
        hideall();

            var liste = document.getElementById("Liste_" + id);
            liste.className = "";
        }
    </script>


<!--Script pour Modifier-->
<script type="text/javascript">
        function ModifierAuteur(id = "", nom = "") {
        fetch(BASE_URL+'/GestionAuteurs/ModifierAuteur?id=' + id + '&nom=' + document.getElementById(id + " " + nom).value, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).catch(error => console.error('Échec du fetch pour modifier le nom'))
            .then((response) => { 
                disableButton(id);
                document.getElementById("NomAuteur_" + id).innerText = document.getElementById(id + " " + nom).value;
            });
        }
    </script>

<!--Script pour la supprimation-->
<script type="text/javascript">
            function SupprimerAuteur(id = "") {
        fetch(BASE_URL+`/GestionAuteurs/SupprimerAuteur?id=${id}`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).catch(error => {
                console.error('Échec du fetch pour supprimer la maison', error);
            }).then(() => {
                document.getElementById(`${id}`).remove();
                $('#ModalId').modal('hide'); // Ferme la modale
            });
        }


        // ModalScript
        function ShowModal($url) {
            $.get($url, function (result) {
                $('.modal-content').html(result);
                $('.modal').modal('show');
            });
        }
    </script>
<!--Script pour la recherche-->
@* <script type="text/javascript">
        // ModalScript
        function RechercherAuteur() {
            console.log("Recherche commencée");
            var motCle = document.getElementById("inputRechercherAuteur").value;
            console.log("Mot entré: " + motCle);
            window.location.href = `/GestionAuteurs/Index?motCle=${motCle}`;
        }
    </script>
 *@