@{
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");
}
<link rel="stylesheet" href="~/css/NavBar/NavBarTop.css"/>
<nav class="navbar navbar-expand-sm container-fluid justify-content-between" id="navTop">
    <!-- Logo fourmi ailée. Ce logo permet de retourner à l'accueil -->
    <a id="IconeNavBar" asp-area="" asp-controller="Accueil" asp-action="Index">
        <img src="~/img/Logo/Logo_sans_fond.png" alt="logo"/>
    </a>

    <!-- Barre de recherche -->
    <div id="divRecherche" class="d-flex flex-wrap">
        <div id="divOption" class="dropdown">
            <label id="OptionLabel" for="dropdownRechercheNavbar" class="selected-category">Trier par :</label>
            <select name="dropdownRechercheNavbar" class="form-select recherche-select" id="dropdownRechercheNavbar">
                <option value="titre" selected onclick="OptionChoisieNavBar('Titre :')">Titre</option>
                <option value="auteur" onclick="OptionChoisieNavBar('Auteur :')">Auteur</option>
                <option value="categorie" onclick="OptionChoisieNavBar('Catégorie :')">Catégorie</option>
            </select>
        </div>
        <input id="barreRechercheNavbar" type="text" class="form-control recherche-input" placeholder="Rechercher..." onkeyup="if (event.key == 'Enter')Recherche()">
        <button id="boutonRechercheNavBar" type="button" class="btn btn-secondary recherche-btn" onclick="RechercheNavBar()">
            <i class="fa-solid fa-magnifying-glass fa-sm"></i>
        </button>
    </div>

    <!-- Vue partielle contenant tout ce qui est en lien avec les comptes (connexion, inscription, etc...) -->
    <partial name="_LoginPartial"/>
</nav>
<script>
    const BASE_URL = @Json.Serialize(BASE_URL_RAZOR);

    function OptionChoisieNavBar(option) {
        document.getElementById("OptionLabel").innerHTML = option;
    }
    function RechercheNavBar() {
        window.location.href = BASE_URL
            + "/Recherche/index?motCles=" + document.getElementById('barreRechercheNavbar').value
            + "&criteres=" + document.getElementById('dropdownRechercheNavbar').value;
    }
</script>