    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom mb-0 px-4" id="navBottom">
        <div class="container-fluid">
            <!-- Premier groupe de liens. Les liens peuvent changer, c'est juste pour le design -->
            <div class="navbar-collapse collapse d-sm-inline-flex">
                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Librairie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GestionLivres" asp-action="Inventaire">Tableau de bord</a>
                    </li>

                </ul>
            </div>

            <!-- Deuxième groupe de liens. Les liens peuvent changer, c'est juste pour le design -->
            @* <div class="navbar-collapse collapse d-sm-inline-flex">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 4</a>
                    </li>
                </ul>
            </div> *@

            <!-- Icônes de profil et de panier -->
            <div class="navbar-icons">
                <ul class="navbar-nav flex-grow-1">
                    <!--
                    Gérer son profil
                    -->
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index"> *@
                    @*         <i class="fa-solid fa-circle-user"></i> *@
                    @*     </a> *@
                    @* </li> *@
                    <!--
                    Gérer panier
                    -->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">
                            Consulter le panier
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
