@using Microsoft.AspNetCore.Identity;
@using VLISSIDES.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom mb-0 px-4" id="navBottom">
    <div class="container-fluid">
        <!-- Premier groupe de liens. Les liens peuvent changer, c'est juste pour le design -->
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Accueil</a>
                </li>
                @if (!(User.Identity.IsAuthenticated) || User.IsInRole(RoleName.MEMBRE))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Livres" asp-action="Index">Livres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Evenments" asp-action="Index">Évènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Promotions" asp-action="Index">Promotions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Info">À propos de nous</a>
                    </li>
                }
                @if (User.IsInRole(RoleName.MEMBRE))
                {
                    <li class="nav-link text-dark"> - </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Commandes" asp-action="Index">Mes commandes</a>
                    </li>
                }
                @if (User.IsInRole(RoleName.EMPLOYE) || User.IsInRole(RoleName.ADMIN))
                {
                    <li class="nav-link text-dark"> - </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GestionLivres" asp-action="Inventaire">Inventaire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GestionAuteurs" asp-action="Index">Auteurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GestionMaisonEditions" asp-action="Index">Maison d'éditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GestionCategories" asp-action="Index">Catégories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GestionCommandes" asp-action="Index">Commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GestionEvenments" asp-action="Index">Évènements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="GestionPromotions" asp-action="Index">Promotions</a>
                    </li>
                }
                @if (User.IsInRole(RoleName.ADMIN))
                {
                    <li class="nav-link text-dark"> - </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Compte" asp-action="Liste">Gestion des comptes</a>
                    </li>
                }
            </ul>
        </div>

        <!-- Deuxième groupe de liens. Les liens peuvent changer, c'est juste pour le design -->
        @* <div class="navbar-collapse collapse d-sm-inline-flex">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 1</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 2</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 3</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Accueil" asp-action="Index">Lien 4</a>
        </li>
        </ul>
        </div> *@
        @if (SignInManager.IsSignedIn(User))
        {
            <!-- Icônes de profil et de panier -->
            <div class="navbar-icons">
                <ul class="navbar-nav flex-grow-1">
                    <!--
                    Gérer son profil
                    -->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="index">Profile</a>
                    </li>
                    <!--
                    Gérer panier
                    -->
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Panier" asp-action="Index">
                            Consulter le panier
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>
</nav>