@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http
@{
    var nbArticles = Context.Session.GetInt32("NbArticles") ?? 0;
}
<link rel="stylesheet" href="~/css/NavBar/NavBarBottom.css" />

<nav id="navBottom" class="navbar">
    <ul id="navLeft" class=" d-flex  align-items-end">
        <li class="cacherPetit">
            <a class="nav-link" asp-area="" asp-controller="Accueil" asp-action="Index">Accueil</a>
            @if (!User.IsInRole(RoleName.EMPLOYE))
            {
            <pre> - </pre>
            }
        </li>
        @if (!User.Identity.IsAuthenticated || User.IsInRole(RoleName.MEMBRE))
        {
            <li>
                <a class="nav-link" asp-area="" asp-controller="Recherche" asp-action="Index">Livres</a>
            </li>

            @if (User.IsInRole(RoleName.MEMBRE))
            {
                <li class="NavMembre">
                    <a class="nav-link" asp-area="" asp-controller="Livres" asp-action="MesLivres">Mes livres</a>
                </li>
                <li class="NavMembre">
                    <a class="nav-link" asp-area="" asp-controller="Commandes" asp-action="Index">Mes commandes</a>
                </li>
            }
            <li class="cacherPetit">
                <a class="nav-link" asp-area="" asp-controller="Evenments" asp-action="Index">Évènements</a>
            </li>
            <li class="cacherPetit">
                <a class="nav-link" asp-area="" asp-controller="Promotions" asp-action="Index">Promotions</a>
            </li>
            <li class="cacherPetit">
                <a class="nav-link" asp-area="" asp-controller="Accueil" asp-action="Info">À propos de nous</a>
            </li>
        }
        @if (User.IsInRole(RoleName.ADMIN))
        {
            <li>
                <a class="nav-link" asp-area="" asp-controller="GestionComptes" asp-action="Index">Gestion des comptes</a>
            </li>
        }
</ul>
    <ul id="navRight" class=" d-flex justify-content-end  align-items-end">
        @if (SignInManager.IsSignedIn(User))
        {
            <!-- Icônes de profil et de panier -->
            <!--
            Gérer son profil
            -->
            <li class="cacherMini">
                <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="index">Profil</a>
            </li>
            <!--
            Gérer panier
            -->
            @if (User.IsInRole(RoleName.MEMBRE))
            {
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Panier" asp-action="Index">
                        <span class="badge-panier" id="nbArticles">
                                <span id="nbArticlesText">@nbArticles</span>
                        </span>
                    </a>
                    <a class="nav-link" asp-area="" asp-controller="Panier" asp-action="Index">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Consulter le panier
                    </a>
                </li>
            }
        }
</ul>
</nav>
<!-- Barre latérale coulissante -->
@if (User.IsInRole(RoleName.EMPLOYE) || User.IsInRole(RoleName.ADMIN))
{
    <partial name="PartialViews/Dashboard/_SideBarPartial" />
}