@model List<VLISSIDES.ViewModels.GestionCommandes.CommandesVM>
@{
    ViewData["Title"] = "Gestion de commandes";
}
<div class="m-4">
    @foreach (var commande in @Model)
    {
        <div class="card my-2" style="width: 500px;">
            <div class="row no-gutters">
                <div class="d-flex justify-content-center">
                    <h4 class="card-title">#@commande.Id</h4>
                </div>
                <div class="col-sm-7">

                    <div class="card-body">
                        <h5 class="card-title">Article:</h5>
                        <ul>
                            @foreach (var item in commande.LivreCommandes)
                            {
                                <li>@item.Quantite x @item.Livre.Titre</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card-body">
                        <p>Prix: @commande.PrixTotal</p>
                        <p>Statut: @commande.StatutNom</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
