@model VLISSIDES.ViewModels.GestionCommandes.AffichageCommandeVM
@{
    ViewData["Title"] = "Gestion de commandes";
    string myURL = Context.Request.Host.Value;
    string BASE_URL_RAZOR = Url.Content("~");
}

<link rel="stylesheet" href="~/css/Responsive/BasicHideMediaQuerry.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/Responsive/GestionCommandes.css" asp-append-version="true">

@*********************@
@* Modals *@
@*********************@

<div class="modal fade modal-dialog-centered " tabindex="-1" role="dialog" aria-hidden="true" id="ModalId"
     style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
        </div>
    </div>
</div>

<div class="m-4">
    <h1>Gestion des commandes</h1>
    <div id="rechercheCommande" class="row">
        <div class="">
            <form id="rechercherCommande" enctype="multipart/form-data">
                <br />
                <div class="input-group">
                    <input class="form-control" id="inputRechercherCommande" placeholder='Numéro de la commande sans le "#"' />
                    <button class="btn btn-primary p-2" type="button" data-toggle="tooltip" onclick="applyFilter(event)">
                        Rechercher
                    </button>
                </div>
            </form>
        </div>
        <div class="">
            <div class="d-flex justify-content-around d-flex align-items-end">
                <div>
                    <h5>Trier par date:</h5>
                    <div class="form-group d-flex">
                        <select id="trierDateSelect" class="form-select" aria-label="Default select example" onchange="applyFilter(event)">
                            <option value="1">Plus récent</option>
                            <option value="2">Plus ancien</option>
                        </select>
                    </div>
                </div>
                <div>
                    <h5>Filtrer par statut:</h5>
                    <div class="form-group d-flex">
                        <select id="filtrerStatutSelect" asp-for="StatutId" asp-items="Model.SelectListStatut" class="form-select" onchange="applyFilter(event)">
                            <option value="0">Tous</option>
                        </select>
                    </div>
                </div>
                <div>
                    <h5>En attente de rembourssement:</h5>
                    <div class="form-group d-flex">
                        <select id="filtrerDemandeRemboursement" class="form-select" aria-label="Default select example" onchange="applyFilter(event)">
                            <option value="1">Non appliqué</option>
                            <option value="2">Demandes d'annulation de commande</option>
                            <option value="3">Demandes de retour de livre(s)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

    <hr />

    <div class="my-2 p-2">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h5>Identifiant</h5>
            </div>
            <div class="mediaQuerryHideOnMedium col-2 d-flex justify-content-center">
                <h5>Utilisateur</h5>
            </div>
            <div class="mediaQuerryHideOnMediumLarge col-1 d-flex justify-content-center">
                <h5>Prix</h5>
            </div>
            <div class="mediaQuerryHideOnSmall col d-flex justify-content-center">
                <h5>Date</h5>
            </div>
            <div class="mediaQuerryHideOnMedium col-2 d-flex justify-content-center">
                <h5>Statut</h5>
            </div>
            <div class="col-2 d-flex justify-content-center">
                
                <div class="mediaQuerryHideOnMediumSmall w-50">
                    @* Espace vide pour i*@
                </div>
                <div class="col-1 d-flex justify-content-center">
                    Alertes
                </div>

            </div>
            
        </div>
    </div>

    <div class="row">
        <div id="commandesListe" class="col-12 ">
            <partial name="PartialViews/GestionCommandes/_ListeCommandesPartial" />
        </div>
    </div>
  
</div>

<style>
    /*Pour cacher les boutons de sauvegarde --- Ne fonction pas dans un fichier css*/
    .saveButton {
        visibility: hidden;
    }
</style>

<script>
    //Script pour URL
    const BASE_URL = @Json.Serialize(BASE_URL_RAZOR);

</script>
<script type="text/javascript">
    function saveStatut(id = "") {
        var idString = `${id}`.toString();
        var statutVal = document.getElementById(idString + ' statutSelectList').value;

        fetch(BASE_URL + `/GestionCommandes/ModifierStatut?id=${idString}&statut=${statutVal}`, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        }).catch(error => console.error('Échec du fetch pour modifier le statut de la commande', error));
    }
</script>

<script type="text/javascript">
        async function applyFilter(ev) {
        ev.preventDefault();

        listeCommandesDiv = document.getElementById("commandesListe");
        var partieMotCles = "motCles=";
        var partieCriteres = "criteres=";

        dateTrie = document.getElementById("trierDateSelect").value;
        partieMotCles = partieMotCles.concat(`${dateTrie}|`);
        partieCriteres = partieCriteres.concat("trierDate|");

        statutFiltre = document.getElementById("filtrerStatutSelect").value;
        partieMotCles = partieMotCles.concat(`${statutFiltre}|`);
        partieCriteres = partieCriteres.concat("filtrerStatut|");

        demandeRemboursement = document.getElementById("filtrerDemandeRemboursement").value;
        partieMotCles = partieMotCles.concat(`${demandeRemboursement}|`);
        partieCriteres = partieCriteres.concat("demandeRemboursement|");

        rechercheValue = document.getElementById("inputRechercherCommande").value;
        if (rechercheValue != null) {
            partieMotCles = partieMotCles.concat(`${rechercheValue}|`);
            partieCriteres = partieCriteres.concat("rechercherCommande|");
        }

        var apiUrl = BASE_URL + `/GestionCommandes/AfficherCommandes?${partieMotCles}&${partieCriteres}`;

        // Effectue une requête GET à l'API
        fetch(apiUrl, {
            method: "GET"
        }).then((response) => {
            // Convertit la réponse en texte
            return response.text();
        }).then((data) => {
            listeCommandesDiv.innerHTML = data;
        })
        .catch(error => {
            // Affiche une erreur dans la console en cas d'échec de la requête
            console.error('Erreur lors de la récupération de la liste des auteurs', error);
        });
    }

    function collapse(commandeId = "") {
        var div = document.getElementById(`collapseCommandeLivres_${commandeId}`);

        if (div.style.display == "none") {
            div.style.display = "block";
        }
        else {
            div.style.display = "none";
        }

    }

    function ShowModal($url) {
        $.get($url, function (result) {
            $('.modal-content').html(result);
            $('.modal').modal('show');
        });
    }

    function HideModal() {
        $('.modal').modal('hide');
    }

    function accepterAnnulation(commandeId = "", ev) {
        fetch(BASE_URL + `/GestionCommandes/AccepterDemandeAnnulation?commandeId=${commandeId}`, {
            method: "POST",
        }).then((response) => {
            return response.text();
        }).then(() => {
            HideModal();
        }).then(() => {
            applyFilter(ev);
        }).catch(error => {
            // Affiche une erreur dans la console en cas d'échec de la requête
            console.error("Erreur lors de l'acceptation de l'annulation.", error);
        });
    }

    function refuserAnnulation(commandeId = "", ev) {
        fetch(BASE_URL + `/GestionCommandes/RefuserDemandeAnnulation?commandeId=${commandeId}`, {
            method: "POST",
        }).then((response) => {
            return response.text();
        }).then(() => {
            HideModal();
        }).then(() => {
            applyFilter(ev);
        }).catch(error => {
            // Affiche une erreur dans la console en cas d'échec de la requête
            console.error("Erreur lors du refus de l'annulation.", error);
        });
    }
    function accepterRetour(commandeId = "", livreId = "", ev) {
        fetch(BASE_URL + `/GestionCommandes/AccepterDemandeRetour?commandeId=${commandeId}&livreId=${livreId}`, {
            method: "POST",
        }).then((response) => {
            return response.text();
        }).then(() => {
            HideModal();
        }).then(() => {
            applyFilter(ev);
        }).catch(error => {
            // Affiche une erreur dans la console en cas d'échec de la requête
            console.error("Erreur lors de l'acceptation du retour.", error);
        });
    }
    function refuserRetour(commandeId = "", livreId = "", ev) {
        fetch(BASE_URL + `/GestionCommandes/RefuserDemandeRetour?commandeId=${commandeId}&livreId=${livreId}`, {
            method: "POST",
        }).then((response) => {
            return response.text();
        }).then(() => {
            HideModal();
        }).then(() => {
            applyFilter(ev);
        }).catch(error => {
            // Affiche une erreur dans la console en cas d'échec de la requête
            console.error('Erreur lors du refus du retour.', error);
        });
    }
</script>

<script type="text/javascript" src="~/js/DynamicSaveButton.js"></script>
