@model ForgotPasswordVM

@{
    ViewData["Title"] = "Mot de passe oublié";
    Layout = null;
}
<!DOCTYPE html>
<html lang="fr">

<head>
    <partial name="PartialViews/_HeadPartial"/>
    <title>
        La Fourmie Aillée - Mot de passe oublié
    </title>
</head>
<body class="g-sidenav-show  bg-gray-200">

<div class="d-flex justify-content-center align-items-center ">
    <div class=" col-lg-9 mt-lg-0 mt-4 ">
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <div class="card z-index-0">
                            <div class="card-header text-center pt-4">
                                <h5>Mot de passe oublié</h5>
                            </div>
                            <div class="card-body">
                                <p class="mb-0">Saisissez votre adresse électronique et nous vous enverrons des instructions sur la manière de réinitialiser votre mot de passe.</p>
                            </div>
                            <div class="card-footer">
                                @*Affichage du résumé des validations*@
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <form asp-controller="Compte" asp-action="ForgotPassword" method="post" role="form">
                                    <div class="mb-3">
                                        <label class="form-label" asp-for="@Model.Email"></label>
                                        <input type="email" asp-for="@Model.Email" class="form-control" autocomplete="Email"/>
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-primary w-100 my-4 mb-2">Réinitialiser le mot de passe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


<partial name="PartialViews/Footer/_HeadFooterPartial"/>


<!--   Core JS Files   -->
<partial name="PartialViews/_JsPartial"/>
</body>
</html>

@* SweetAlert2 pour afficher une notification de succès ou d'erreur *@
<script>
  // Attache un gestionnaire d'événements de soumission à tous les formulaires sur la page
  $('form').submit(function(e) {
    e.preventDefault();  // Empêche la soumission par défaut du formulaire
    $.ajax({    // Obtient l'URL d'action du formulaire
      url: $(this).attr('action'),
      type: 'POST',
      data: $(this).serialize(),    // Sérialise les données du formulaire pour les envoyer dans la requête
      success: function(result) {
        Swal.fire({
          icon: 'success',
          title: result,
          showConfirmButton: false,
          timer: 3000
        }).then((result) => {
          window.location.href = '@Url.Action("Login", "Compte")';
        });
      },
      error: function(xhr, status, error) {
        Swal.fire({
          icon: 'error',
          title: 'Une erreur s\'est produite',
          text: xhr.responseText
        });
      }
    });
  });
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>


}