#detailsDivPrincipal {
    max-width:100%;
}

    #detailsDivPrincipal * {
        margin: 2px;
    }   

#checkboxTypeLivre {
    display: flex;
    flex-direction: row;    
}

#DetailsInfo {
    width: 40%;
}

.btnPanier {
    width: 100%; 
    display: flex;
    align-items: center;
}
 
#DetailsDIV {
    max-width: 30%;
    min-width: 30%;
}

#DetailsIMG {
    max-width: 100%;    
}
#commande * {
    width: min-content;
}


#commande {
    background-color: aqua;
}