/* Styles de base pour les cartes */
.card {
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 15px;
    width: 200px; /* Largeur originale */
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Styles pour l'image du livre */
.divIMG {
    height: 270px;
    background-color: #f8f8f8;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.divIMG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles pour le corps de la carte */
.card-body {
    padding: 10px;
    text-align: left;
}

/* Titre du livre */
.card-body h1 {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 0.5em;

}

/* Auteurs et Catégories */
.divAuteurs a, .divCategories a {
    font-size: 1.02em !important;
    color: #0056b3;
    font-style: italic;
    margin-bottom: 0.5em;
    position: relative;
    transition: color 0.3s ease;

}

.divAuteurs a:hover, .divCategories a:hover {
    color: #146ec3;
}

.divAuteurs a::after, .divCategories a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #146ec3;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.divAuteurs a:hover::after, .divCategories a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Informations sur le type de livre */
.divMedium div {
    font-size: 1em;
    color: #555;
    line-height: 1.4;
    margin-bottom: 0.5em;

}

/* Prix */
.prix {
    font-size: 1.05em;
    font-weight: 700;
    margin-bottom: 0.5em;


}

/* Quantité disponible */
.quantite {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;
    font-weight: 500;
    color: #146ec3;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2px 5px;
    border-radius: 5px;
}

/* Icônes */
.icon {
    color: #6c757d;
    margin-right: 5px;
    transition: transform 0.3s ease, color 0.3s ease;

}

.icon:hover {
    transform: rotate(10deg);
    color: #146ec3;
}

/* Boutons et liens */
.btnCategorie {
    padding: 4px 8px;
    font-size: 0.85em;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.btnCategorie:hover {
    background-color: #e9ecef;
}

#rechercherBTN, #rechercheGeneral {
    width: fit-content;
}

#rechercheDIV {
    margin: 16px;
    margin-top: 42px;
}

#filtre {
    width: fit-content;
    margin: 18px;
    padding: 12px;
    overflow-y: auto;
}

#filtre > * {
    margin: 6px;
}

#fermeFiltre {
    position: absolute;
    top: 12px;
    right: 12px;
}
