.divLivre {
    width: 300px;
    height:fit-content;
    max-height: 750px;
    margin-bottom:20px;
}

    .divLivre img {
        width: 300px;
        height: 200px;
    }

.card{
    margin: 15px 30px;
    min-width:300px;
}
.card-body {
    padding: 0;
}

    .card-body div {
        width: 415px;
        max-width: 415px;
        height: 112.5px;
        width:100%;
        max-height: fit-content;
        max-height: min-content;
        margin:5px 0;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
    }
        .card-body div p {
            min-width: 130px;
            width: 30%;
            height: 55px;
            margin: 2.5px;
            align-self: center;
            display:flex;
        }
            .card-body div p a {
                width:100%;
                max-height:100%;
                padding:1px;
                align-self: center;
                overflow:auto;
            }
    .card-body h1 {
        height: 52px;
        max-height: 52px;
        overflow-y: auto;
    }
    .card-body h1, .card-body h2 {
        width: 100%;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 16pt;
    }
.maisonEdition{
    height:max-content!important;
}
.type{
    display:flex;
    align-content:center;
}
.type div {
    width: fit-content;
    height: fit-content;
    padding:5px;
    border: 1px solid black;
    border-radius:25rem;
}
.quantite{
    position:relative;
    right:0;
    bottom:30px;
    margin-right:10px;
    text-align: right;
}
.auteur a, .auteur p a:first-of-type, #results > a{
    position: absolute;
}
.auteur p a {
    position: inherit;
}
#rechercherBTN, #rechercheGeneral {
    width: fit-content;
}
#filtre{
    width:fit-content;
    margin:5px;
    padding:5px;
    overflow-y:auto;
}