<div id="ModalId">
    <div class="modal-header">
        <h5 class="modal-title">Refuser l'annulation de la commande</h5>
    </div>
    <div class="modal-body">
        Êtes-vous sûr de refuser la demande de remboursement?
        <ul>
            @foreach (var item in Model.Livres)
            {
                <li>@item.Quantite x @item.Livre.Titre</li>

            }
        </ul>
    </div>
    <div class="modal-footer">
        <a class="btn btn-secondary" href="~/GestionCommandes/Index">Annuler</a>
        <button type="button" class="btn btn-danger" id="confirmDelete" onclick="refuserAnnulation('@Model.Id')">Confirmer</button>
    </div>
</div>
