@{
    string myURL = Context.Request.Host.Value;
    string BASE_URL_RAZOR = Url.Content("~");
}
@model List<VLISSIDES.ViewModels.GestionPromotions.GestionPromotionsIndexVM>

<link rel="stylesheet" href="~/css/Promotions.css" asp-append-version="true">

<div class="modal fade modal-dialog-centered" tabindex="-1" role="dialog" aria-hidden="true" id="ModalId"
     style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
<br />
<div class="d-block p-4 p-4">
    <div class="mb-4">
        <h1>Gestion des promotions</h1>
    </div>
    <div class="container-fluid">
        @* Add button *@
        <div class="m-8">
            <a onclick="ShowModal('@Url.Action("AjouterPromotion", "GestionPromotions")')" class="btn btn-primary">Ajouter une promotion</a>
        </div>
    </div>
    <br />
</div>


<div class="container-fluid d-flex flex-wrap row" id="TabEvenementsListe">

    <partial name="PartialViews/GestionPromotions/_ListePromotionsPartial" model="@Model" />

</div>

<script>
    // ModalScript
    function ShowModal($url) {
        $.get($url, function (result) {
            $('.modal-content').html(result);
            $('.modal').modal('show');
        });
    }
</script>