@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Événements";
    var myURL = Context.Request.Host.Value;
    var BASE_URL_RAZOR = Url.Content("~");

}
@model VLISSIDES.ViewModels.Evenements.EvenementsIndexVM

<link rel="stylesheet" href="~/css/Accueil/event-card.css">

<div class="container-fluid">
    @if (User.Identity.IsAuthenticated)
    {
            @if (Model.MesEvenements.Count != 0)
            {
                <h1>Mes événements</h1>
                <div class="row">
                    <div class="d-flex flex-wrap justify-content-around">
                        @foreach (var item in Model.MesEvenements)
                        {
                            <div style="width:40%; ">
                                <partial name="PartialViews/Evenements/_EvenementReserveCartePartial" model="@item" />
                            </div>
                        }
                    </div>

                </div>
            }
    }

    <h1>Les événements</h1>
    <div class="row">
        <div class="d-flex flex-wrap justify-content-around">
            @foreach (var item in Model.Evenements)
            {
                @if (Model.MesEvenements.FirstOrDefault(e => e.Id == item.Id) != null)
                {
                }
                else
                {
                    <div style="width:40%; ">
                        <partial name="PartialViews/Evenements/_EvenementCartePartial" model="item"/>
                    </div>
                }
            }
        </div>

    </div>
</div>
<script>const BASE_URL = @Json.Serialize(BASE_URL_RAZOR);</script>
<script type="text/javascript">
    function Reserver(id="",quantite=1) {
        var stripe = Stripe('pk_test_51O3gRDAIrJUcHyNnVbRxxrTEmN0ndzgrocNP008WZgRBHCFJNXhNXnXYyfxU1im6XjmLPKmJT1Tq64eNf5vIysOu00LWHU5Ohx');
        var data = {
            id: id,
            quantite: quantite
        };
        return fetch(BASE_URL + '/Evenements/CreateCheckoutSessionEvenement?id='+id + '&quantite=' + quantite, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                },
            body: JSON.stringify(data)
        }).then(function (response) {
            return response.json();
        }).then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
        }).then(function (result) {

            if (result.error) {
                alert(result.error.message);
            }
        }).catch(function (error) {
            console.error('Error:', error);
        });
    }

</script>
<script>

    function AnnulerReservation(id=""){
        

        return fetch(BASE_URL + "/Evenements/AnnulerEvenement?id=" + id, {
            method: 'POST'
        }).then(function (response) {
            return response.text();
        }).then(function (result) {
            document.querySelector("body").innerHTML = result;
        });
    }
</script>

<script src="https://js.stripe.com/v3/"></script>