@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<VLISSIDES.ViewModels.Evenements.EvenementsIndexVM>

<div class="container-fluid">
    @foreach(var item in Model)
    {
        <partial ></partial>
    }
    <div class="row">

    </div>
</div>