@media only screen and (max-width: 700px) {
    .mediaQuerryHideOnSmall {
        display: none !important;
    }
}

@media only screen and (max-width: 1100px){
    .mediaQuerryHideOnMedium {
        display: none !important;
    }

    .divBouton {
        display: flex !important;
        flex-direction: column !important;
    }
}

.divBouton {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}
