@media only screen and (max-width: 1100px) {
    .divEditDelete {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 1200px) {
    #filtreBTN {
        display: block !important;
    }
}

#filtreBTN {
    display: none;
}

.divBouton {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.listeCategorie, .listeAuteur {
    overflow-y: auto;
    height: 85px;
}

#filtre2 {
    border-style: solid;
    border-width: 5px !important;
    border-color: #3B71CA;
    box-shadow: 10px 10px 5px lightgrey;
    background-color: #E2EBF7;
}
