@media only screen and (max-width: 1100px){
    .divEditDelete {
        display: flex !important;
        flex-direction: column !important;
    }
}

.divBouton {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}
