@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string myURL = Context.Request.Host.Value;    
    string BASE_URL_RAZOR = Url.Content("~");
}
@model List<VLISSIDES.ViewModels.GestionComptes.GestionComptesMembreVM>
<link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true">
<div class="container-fluid my-3 py-3">
    <div class="row mb-5">
        <!--Menu-->
        <div class="col-lg-3">
            <div class="card position-sticky top-1 shadow-sm">
                <ul class="nav flex-column bg-white border-radius p-3">
                    <h5 class="text-center mb-3">Gestion de comptes</h5>
                    <hr />
                    <li class="nav-item mb-2">
                        <a class="nav-link text-dark d-flex profile-btn" onclick="showMembres()">
                            <i class="fa-solid fa-user text-lg-center me-2"></i>
                            <span class="text-sm">Membres</span>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link text-dark d-flex profile-btn" onclick="showEmployes()">
                            <i class="fa-solid fa-user text-lg-center me-2"></i>
                            <span class="text-sm">Employes</span>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a class="nav-link text-dark d-flex profile-btn" onclick="showAdmins()">
                            <i class="fa-solid fa-user text-lg-center me-2"></i>
                            <span class="text-sm">Admins</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Vue partielle pour liste-->
        <div class="col-lg-9 mt-lg-0 mt-4">
            <div class="card">
                <div id="ListUser">
                    <partial name="PartialViews/GestionComptes/_ListeMembrePartial" model="@Model" />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const BASE_URL = @Json.Serialize(BASE_URL_RAZOR);
</script>
<script>
    //Le script pour changer la vue partielle de liste d'utilisateur
    function showMembres() {
        fetch(BASE_URL + "/GestionComptes/ShowMembres", {
            method: "GET"
        }).then(response => {
            return response.text();
        }).then((results) => {
            document.getElementById("ListUser").innerHTML = results;
        });
    }
    function showEmployes() {
        fetch(BASE_URL + "/GestionComptes/ShowEmployes", {
            method: "GET"
        }).then(response => {
            return response.text();
        }).then((results) => {
            document.getElementById("ListUser").innerHTML = results;
        });
    }
    function showAdmins() {
        fetch(BASE_URL + "/GestionComptes/ShowAdmins", {
            method: "GET"
        }).then(response => {
            return response.text();
        }).then((results) => {
            document.getElementById("ListUser").innerHTML = results;
        });
    }
</script>
<script>
    //Script pour recherche de membre
    function RechercherMembre(){
        fetch(BASE_URL + "/GestionComptes/ShowMembres?motCle=" + document.getElementById("inputRechercherMembre").value,{
            method:"GET"
        }).then(response => {
                return response.text();
        }).then((results) => {
            document.getElementById("ListUser").innerHTML = results;
        });
    }
</script>
