@model VLISSIDES.Models.Livre

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Livre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnneeEdition" class="control-label"></label>
                <input asp-for="AnneeEdition" class="form-control" />
                <span asp-validation-for="AnneeEdition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <input asp-for="Resume" class="form-control" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbExemplaires" class="control-label"></label>
                <input asp-for="NbExemplaires" class="form-control" />
                <span asp-validation-for="NbExemplaires" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbPages" class="control-label"></label>
                <input asp-for="NbPages" class="form-control" />
                <span asp-validation-for="NbPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePublication" class="control-label"></label>
                <input asp-for="DatePublication" class="form-control" />
                <span asp-validation-for="DatePublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategorieId" class="control-label"></label>
                <input asp-for="CategorieId" class="form-control" />
                <span asp-validation-for="CategorieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuteurId" class="control-label"></label>
                <select asp-for="AuteurId" class ="form-control" asp-items="ViewBag.AuteurId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaisonEditionId" class="control-label"></label>
                <select asp-for="MaisonEditionId" class ="form-control" asp-items="ViewBag.MaisonEditionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeLivreId" class="control-label"></label>
                <input asp-for="TypeLivreId" class="form-control" />
                <span asp-validation-for="TypeLivreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvaluationId" class="control-label"></label>
                <input asp-for="EvaluationId" class="form-control" />
                <span asp-validation-for="EvaluationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LangueId" class="control-label"></label>
                <input asp-for="LangueId" class="form-control" />
                <span asp-validation-for="LangueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

